ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down {
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
    padding-left: 15px;
  }
  
  .active-open {
    display: block;
  }
  //----------------------------------------------------------------
  .right-stick{
      position: sticky;
  }