$theme-colors: (
    "primary":#4659E4,
    "dark-primary":#3347e0,
    "secondary":#f0bc4d,
    "light":#F9FAFE,
    "light-alt":#f0f2fa,
    "gray":#e0e2f0,
    "dark":#212529,
    "info":#0c8df7
);

$grid-breakpoints: (
    xs: 0,
    sm: 426px,
    md: 768px,
    lg: 1280px,
    xl: 1400px,
    xxl: 1900px
);
    
$container-max-widths: (
    sm: 426px,
    md: 768px,
    lg: 1280px,
    xl: 1400px,
    xxl: 1900px
);

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

$modal-fade-transform: scaleY(.01) scaleX(0);
.modal-dialog{
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
body{
    font-family: 'Lato' !important;
}

$enable-shadows:true;
$enable-responsive-font-sizes:true;