<nav class="navbar navbar-expand-lg navbar-light bg-primary py-2 w-100" style="position:stiky;z-index: 50;">
    <button class="btn border-0" onclick="toggleMenu()">
        <i class="fas fa-bars text-white"></i>
    </button>
    <a class="navbar-brand p-0" href="/teach/inicio">
        <img src="/img/logo-vive-promocion-transparency.png" style="width:30px;filter: brightness(0) invert(1);" 
        class="d-inline-block align-middle pb-1" alt="" loading="lazy">
    </a>
</nav>