<div class="modal fade modal-p-bottom" id="inboxPanel" tabindex="-1" aria-labelledby="inboxPanelLabel" aria-hidden="true">
    <div class="modal-dialog  modal-p-bottom">
        <div class="modal-content" style="height: 90vh;">
            <div class="modal-body p-0 rounded-3 bg-white position-relative">
                <div class="d-flex justify-content-between py-2 px-3 align-items-end">
                    <h3 class="font-weight-bold">Correo</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr class="my-2">
                <div class="container-fluid">
                    <div class="d-flex justify-content-start align-items-end border-bottom pb-2 mt-3">
                        <div style="width:100px;">
                            <p class="mb-0 text-muted">De:</p>
                        </div>
                        <input type="text" class="form-control-email w-100" id="email_From" value="siapde@gmail.com" disabled>
                    </div>
                    <div class="d-flex justify-content-start align-items-end border-bottom pb-2 mt-3">
                        <div style="width:100px;">
                            <p class="mb-0 text-muted">Para:</p>
                        </div>
                        <div class="w-100">
                            <div id="emailsList"></div>
                            <input type="text" class="form-control-email w-100" id="email_To">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-end border-bottom pb-2 mt-3">
                        <div style="width:100px;">
                            <p class="mb-0 text-muted">Asunto:</p>
                        </div>
                        <input type="text" class="form-control-email w-100" id="email_Subject">
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="d-flex align-items-start mt-4 w-100">
                        <div class="w-100" id="email_Message" contenteditable="true" style="min-height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="d-flex justify-content-end px-3">
                    <button type="button" class="btn btn-primary" id="sendEmail">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var g_email_estudents = new Array();
    var g_email_map_estudents = new Map();
    var g_email_senders = new Map();
    function emailEvents(event){
        inboxPanel(event);
        toggleBackArrow();
        bringAllEstudentsEmail();
        checkEmailExists();
    }
    function bringAllEstudentsEmail(){
        let bearer = 'Bearer '+g_token;
        $.ajax({
            type: "GET",
            url: "/admin/estudiante/listaEstudiantes",
            contentType: "appication/json",
            headers:{
                'Authorization':bearer
            }
        }).then((response) => {
            g_email_estudents = response;
            g_email_estudents.forEach(function(estudiante){
                g_email_map_estudents.set(estudiante.correo,estudiante);
            });
        }, (error) => {
            console.log(error)
        });
    }
    function checkEmailExists(){
        $('#email_To').keyup(function(event){
            if(event.keyCode == 13 ){
                let email = $('#email_To').val();
                if(email.length > 0){
                    let email = $('#email_To').val();
                    if(g_email_senders.get(email) == undefined){
                        if(g_email_senders.get('todos') != undefined) return;
                        if(g_email_map_estudents.has(email)){
                            let estudiante = g_email_map_estudents.get(email);
                            g_email_senders.set(email,email);
                            $('#emailsList').append(`
                                <div class="d-flex align-items-center border rounded-pill p-1 mb-1" id="pillEmailSender_${estudiante.cedula}">
                                    <div class="mr-1">
                                        <button class="btn btn-sm" onclick="deleteEmailSender('${estudiante.cedula}','${email}')"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="mr-2">
                                        <img src="/public/uploads/${estudiante.foto}" class="rounded-circle" width="20" height="20">
                                    </div>
                                    <div class="w-100">
                                        <small class="mb-0">${estudiante.nombre}</small>
                                        <small class="mb-0 text-muted">${estudiante.correo}</small>
                                    </div>
                                </div>
                            `);
                        }else if(email == 'todos'){
                            g_email_senders.set(email,{email:'todos'});
                            $('#emailsList').append(`
                            <div class="d-flex align-items-center border rounded-pill p-1 mb-1" id="pillEmailSender_${email}">
                                <div class="mr-2">
                                        <button class="btn btn-sm" onclick="deleteEmailSender('${email}','${email}')"><i class="fas fa-times"></i></button>
                                    </div>
                                <div class="mr-2">
                                    <img src="/public/uploads/default-avatar.png" class="rounded-circle" width="20" height="20">
                                </div>
                                <div class="w-100">
                                    <small class="mb-0">Todos los estudiantes</small>
                                </div>
                            </div>
                            `);
                        }
                    }
                }
                $('#email_To').val('')
            }
        });
        
    }
    function deleteEmailSender(id,email){
        g_email_senders.delete(email);
        $(`#pillEmailSender_${id}`).remove();
    }
    function inboxPanel(event){
        $('#inboxButton').on('click',function (e) {
            $('#inboxPanel').modal();
            $('#wrapper').addClass('wrapperA rounded-3');
        });
        $('#inboxPanel').on('hide.bs.modal', function (e) {
            $('#wrapper').removeClass('wrapperA rounded-3');
        })
    }
    function toggleBackArrow(event) {
        $('.boton-back-bp').on('click',function (e) {
            $('#menu-correo-tab-id').removeClass('menu-correo-tab');
            $('#correos-lista-tab-id').css('min-width','300px');
            $('#correos-lista-tab-id').removeClass('correos-lista-tab');
            $('#titulos-correo-tab-id').addClass('hide');
        })
    }
    document.addEventListener("DOMContentLoaded", emailEvents);
</script>