<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="es" class="h-100">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Reportes de Matricula</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" href="/css/dashboard.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
     <link rel="stylesheet" href="/css/animate.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
     <script src="/js/jq-bs-bundle.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
</head> 
 <body class="page bg-light d-flex flex-column h-100">
     <div class="modal fade" id="descargarPdf" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header bg-primary text-white py-3">
                     <h5 class="modal-title pl-3 font-weight-bold">Descargar Reporte</h5>
                         <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                 </div>
                 <div class="modal-body">
                     <div class="form-group">
                       <label for="">Nombre del PDF</label>
                       <input type="text" class="form-control form-control-sm" id="tituloPdf">
                       <small id="helpId" class="text-muted">Reportes de Abril</small>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                     <button type="button" class="btn btn-primary" onclick="pdfDownload()">
                        <i class="fas fa-download animate__animated animate__pulse animate__infinite"></i> Descargar</button>
                 </div>
             </div>
         </div>
     </div>
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
            <div id="page-content-wrapper">
                <%- include('headerDashboard') %>

                <div class="container-fluid mt-4">
                    <div class="card border-0 shadow-primary my-3 rounded-3">
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <h2 class="font-weight-bold">Reportes de matricula</h2>
                                    <small class="text-muted">En esta seccion se muestra la lista de matriculas 
                                        ingresadas y eliminadas<br>
                                        Los reportes de matricula se pueden generar Mensualmente</small><br>
                                    <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1" id="cantidad_matriculados">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad de matriculas en el sistema">Matriculas &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t2" id="cantidad_desmatriculados">0</h1>
                                    <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                    title="Cantidad de desmatriculas">Desmatriculas &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white shadow-primary p-3 rounded-3 mt-4 animate__animated animate__fadeIn animate__slow">
                        <div class="row mx-0 d-flex justify-content-between">
                            <div class="col">
                                <div class="mb-1">
                                    <div class="input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <div class="btn bg-light" id="button_search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control border-0 shadow-none bg-light"
                                            onkeyup="searchonfind()" placeholder="Buscar..."
                                            aria-label="Username" id="barraBuscar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-end align-items-end ">
                                <div class="w-100 h-100">
                                    <input type="month" class="form-control" id="filtrarDate">
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-end align-items-end ">
                                <div class="w-100 h-100">
                                    <button onclick="openModal('#descargarPdf')"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Descargar Reporte" class="btn btn-primary w-100 mr-2"
                                        ><i class="far fa-file-pdf"></i> Descargar Reporte
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white px-0 py-2 shadow-primary mt-4 rounded-3  animate__animated animate__zoomIn">
                        <div class="row mx-0 mx-auto rounded-3 justify-content-between pt-1">
                            <div class="col-md-3 flex-fill d-flex align-items-baseline">
                                <h4 class="font-weight-bold mb-0 ">Listado</h4>
                            </div>
                            <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                                <h6 class="font-weight-bold">Mostrar</h6>
                                <div class="ml-2 w-100" id="length">
                                    <select class="custom-select">
                                        <option selected>All columns</option>
                                        <option value="1">5</option>
                                        <option value="2">10</option>
                                        <option value="3">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                                <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                            <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                             id="table" data-order="[[ 1, &quot;asc&quot; ]]">
                                <thead class="table-light-header">
                                    <tr>
                                        <th style="width: 50px;"><strong>#</strong></th>
                                        <th scope="col">Grupo</th>
                                        <th scope="col">Estudiante</th>
                                        <th scope="col">Acción</th>
                                        <th scope="col" style="width: 160px;">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_reportes">
    
                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <small id="info" class="d-flex align-items-end ml-4"></small>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <%- include('footerDashboard') %>
            </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/matriculaReporte.js"></script>
 </body>
</html>