<div class="hover-menu-items-parent d-flex flex-column" id="sidebar-wrapper">
    <div class="sidebar-heading bg-primary d-flex">
        <img src="../../img/logo-vive-promocion-transparency.png" alt="UNA" loading="lazy" 
        class="d-inline mx-2 my-auto" height="30px" style="filter: brightness(0) invert(1);">
        <div class="text-center text-white d-flex justify-content-center align-items-center h-100 d-inline">
            <h4 class="">SIAP</h4>
        </div>
    </div>
    
    <div class="list-group list-group-flush accordion mx-0 mb-auto bg-primary mt-2" id="accordion-menu-lateral">
        <a href="/admin/dashboard" class="menu-items-var list-group-item list-group-item-action border-0 bg-menu <%if(s == "dash"){%> menu-active <%}%> text-white py-3 pl-2" role="button">
            <i class="fas fa-tachometer-alt"></i>&nbsp; Dashboard
        </a>
        <a class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2 <%if(s == 'estudiantes' || s == 'administradores' || s == 'profesores'){%> hover-menu-items-parent <%}%>" 
        data-toggle="collapse" href="#collapseUsuarios" role="button" aria-expanded="false" aria-controls="collapseUsuarios">
            <i class="fas fa-users"></i>&nbsp; Usuarios  <i class="fas fa-angle-down float-right"></i>
        </a>
            <div class="collapse <%if(s == 'estudiantes' || s == 'administradores' || s == 'profesores'){%> show <%}%>" id="collapseUsuarios" data-parent="#accordion-menu-lateral">
                <a href="/admin/estudiantes" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "estudiantes"){%> menu-active <%}%>" title="Usuarios Estudiantes">
                    <i class="fas fa-user"></i>&nbsp; Estudiantes
                </a>
                <a href="/admin/administradores" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "administradores"){%> menu-active <%}%>" title="Usuarios Administradores">
                    <i class="fas fa-user-tie"></i>&nbsp; Administradores
                </a>
                <a href="/admin/profesores" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "profesores"){%> menu-active <%}%>" title="Usuarios Profesores">
                    <i class="fas fa-chalkboard-teacher"></i>&nbsp; Profesores
                </a>
            </div>
        <a class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2"
        data-toggle="collapse" href="#collapseTalleres" role="button" aria-expanded="false" aria-controls="collapseTalleres">
            <i class="fas fa-swimmer"></i>&nbsp; Talleres <i class="fas fa-angle-down float-right"></i>
        </a>
            <div class="collapse <%if(s == 'talleres' || s == 'grupos' || s == 'reposiciones'){%> show <%}%>" id="collapseTalleres" data-parent="#accordion-menu-lateral">
                <a href="/admin/talleres" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "talleres"){%> menu-active <%}%>" title="Talleres de la piscina">
                    <i class="fas fa-swimmer"></i>&nbsp; Talleres
                </a>
                <a href="/admin/reposiciones" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reposiciones"){%> menu-active <%}%>" title="Solicitud de reposiciones">
                    <i class="fas fa-swimmer"></i>&nbsp; Reposiciones
                </a>
            </div>
        <a class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2"
        data-toggle="collapse" href="#collapseMatricula" role="button" aria-expanded="false" aria-controls="collapseMatricula">
            <i class="fas fa-table"></i></i>&nbsp; Matricula <i class="fas fa-angle-down float-right"></i>
        </a>
        <div class="collapse <%if(s == 'solicitudes' || s == 'reportes-matricula'){%> show <%}%>" id="collapseMatricula" data-parent="#accordion-menu-lateral">
            <a href="/admin/matricula" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "solicitudes"){%> menu-active <%}%>" title="Lista de estudiantes matriculados">
                <i class="fas fa-bell"></i>&nbsp; Estudiantes matriculados
            </a>
            <a href="/admin/matricula/reportes" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-matricula"){%> menu-active <%}%>" title="Reportes de Matricula">
                <i class="fas fa-clipboard-list"></i>&nbsp; Reportes
            </a>
        </div>
        <a class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2"
        data-toggle="collapse" href="#collapseRegistro" role="button" aria-expanded="false" aria-controls="collapseRegistro">
            <i class="fas fa-table"></i>&nbsp; Registro <i class="fas fa-angle-down float-right"></i>
        </a>
        <div class="collapse <%if(s == 'comprobacion'){%> show <%}%>" id="collapseRegistro" data-parent="#accordion-menu-lateral">
            <a href="/admin/comprobacion" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "comprobacion"){%> menu-active <%}%>" title="Comprobacion de datos">
                <i class="fas fa-user-check"></i>&nbsp; Comprobacion
            </a>
        </div>
        <a class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2"
        data-toggle="collapse" href="#collapseReportes" role="button" aria-expanded="false" aria-controls="collapseReportes">
            <i class="fas fa-clipboard-list"></i></i>&nbsp; Reportes <i class="fas fa-angle-down float-right"></i>
        </a>
            <div class="collapse <%if(s == 'reportes-sistema' || s == 'reportes-morosos' || s == 'reportes-asistencia'|| s == 'reportes-conducta' || s == 'reportes-uso'){%> show <%}%>" id="collapseReportes" data-parent="#accordion-menu-lateral">
                <a href="/admin/reportes/asistencia" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-asistencia"){%> menu-active <%}%>" title="Reportes de Asistencia">
                    <i class="fas fa-clipboard-list"></i>&nbsp; Asistencia
                </a>
                <a href="/admin/reportes/conducta" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-conducta"){%> menu-active <%}%>" title="Reportes de conducta">
                    <i class="fas fa-clipboard-list"></i>&nbsp; Conducta
                </a>
                <a href="/admin/reportes/morosos" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-morosos"){%> menu-active <%}%>" title="Reportes de Morosidad">
                    <i class="fas fa-clipboard-list"></i>&nbsp; Morosos
                </a>
                <a href="/admin/reportes/uso" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-uso"){%> menu-active <%}%>" title="Reportes de uso de instalacion">
                    <i class="fas fa-clipboard-list"></i>&nbsp; Instalaciones
                </a>
                <a href="/admin/reportes/sistema" class="menu-items-var text-white list-group-item list-group-item-action border-0 pl-4 pr-0 bg-menu <%if(s == "reportes-sistema"){%> menu-active <%}%>" title="Reportes del Sistema">
                    <i class="fas fa-clipboard-list"></i>&nbsp; Sistema
                </a>
            </div>
        <a href="/admin/casilleros" class="menu-items-var list-group-item list-group-item-action border-0 bg-menu text-white py-3 pl-2 <%if(s == "casilleros"){%> menu-active <%}%>" role="button" title="Administracion de Casilleros">
            <i class="fas fa-lock"></i>&nbsp; Casilleros
        </a>
    </div>
    <div class="border-top mx-2 my-2"></div>
    <div class="btn-group dropup d-inline ml-3 ">
        <div class="dropdown-toggle d-flex align-items-center text-white">
            <a class=" nav-link mx-0 px-0 text-decoration-none d-flex justify-content-between" id="userSettings" 
            href="#"<% if (!usuario.foto) { %> data-toggle="tooltip" data-placement="bottom" title="Cambiar foto de perfil" id="tooltipFoto" <% } %>>
                <div class="text-white" id="nombreUsuario">
                    <% let usernameNombre = usuario.nombre.split(' ')[0][0] + usuario.nombre.split(' ')[0].substring(1,usuario.nombre.split(' ')[0].length).toLowerCase()%>
                    <% let usernameApellido = usuario.apellido.split(' ')[0][0] + usuario.apellido.split(' ')[0].substring(1,usuario.apellido.split(' ')[0].length).toLowerCase()%>
                    <h6 class="align-middle mb-0">
                        <% if (!usuario.foto) { %>
                            <i class="fas fa-user-circle text-dark" style="font-size: 20px;"></i>
                        <% } %>
                        <%if (usuario.foto){%>
                            <img src="/public/uploads/<%= usuario.foto%>" class="rounded-circle" width="30px">
                        <%}%>
                        <span class="mr-1"></span>
                        <%= usernameNombre %>&nbsp;<%= usernameApellido %> 
                    </h6>
                </div>
            </a>
            <div class="dropdown-menu dropdown-dark" id="userSettingsDrop">
                <a class="dropdown-item" href="/admin/perfil">Editar Perfil</a>
                <a class="dropdown-item" href="/admin/settings">Configuracion</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="logoutbutton">Salir</a>
            </div>
        </div>
    </div>
</div>
<script>
    //  /admin/logout
    $(function () {

        $('[data-toggle="tooltip"]').tooltip()
    })
</script>