<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Profesores</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="/css/animate.css">
     <script src="/js/jq-bs-bundle.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="modalTakePic" tabindex="-1" aria-labelledby="modalTakePic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info mr-3" onclick="openModalToTakePhoto()">Abrir Camara</button>
                        <button class="btn btn-info mr-3" id="btnCapture">Capturar</button>
                        <button class="btn btn-secondary" id="btnDownloadImage">Descargar Imagen</button>
                    </div>
                    <p id="errorTxt"></p>
                    <div class="mx-auto">
                        <video id="theVideo" autoplay></video>
                        <canvas id="theCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/admin/listEstudiantes/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Cambiar Imagen</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" id="cedulaHiddenCambiarFotoModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalcambiarclave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold">Solicitud de Cambio de clave a <span id="claveCedulaID"></span></h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/profesor/cambiarClave" method="post">
                        <div class="form-group mb-0">
                            <label for="cambiarclaveinput">Clave</label>
                            <input type="text" class="form-control" name="clave" id="cambiarclaveinput" value="1234">
                            <input type="text" class="form-control" name="cedula" id="cambiarclaveID" hidden>
                            <small class="text-muted">Debe cambiar la clave.</small>
                        </div>
                        <div class="modal-footer py-0 border-0">
                            <button type="submit" class="btn btn-primary">Cambiar Clave</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAdd" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header py-1 pl-3 bg-primary text-white">
                    <h5 class="modal-title ml-3 font-weight-bold" id="staticBackdropLabel"><i class="fas fa-plus"></i>&nbsp; Agregar un Profesor</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Datos del profesor</h4>
                    <div class="alert alert-sucess alert-dismissible fade show" role="alert" style="display: none;">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/279/check-mark-button_2705.png" width="20px">
                        <strong>Profesor Agregado</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cedulaAdd">Cedula</label>
                                <input type="text" class="form-control" id="cedulaAdd" minlength="9" maxlength="12">
                            </div>
                            <div class="form-group">
                                <label for="NombreAdd">Nombre</label>
                                <input type="text" class="form-control" id="NombreAdd">
                            </div>
                            <div class="form-group">
                                <label for="apellidosAdd">Apellidos</label>
                                <input type="text" class="form-control" id="apellidosAdd">
                            </div>
                            <div class="form-group">
                                <label for="correoAdd">Correo</label>
                                <input type="text" class="form-control" id="correoAdd" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sexoAdd">Sexo</label>
                                <select class="custom-select" id="sexoAdd">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="UsuarioAdd">Usuario</label>
                                <input type="text" class="form-control" id="UsuarioAdd">
                            </div>
                            <div class="form-group">
                                <label for="claveAdd">Clave de acceso</label>
                                <input type="password" class="form-control" id="claveAdd" minlength="8" maxlength="20">
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-rojo" id="progreso_clave" role="progressbar" 
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span class="text-white" id="cantidad_caracteres"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer py-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="agregarProfesor()">
                        <div class="spinner-border spinner-border-sm" role="status" id="agregarBotonAdmin" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div><i class="fas fa-plus"></i>&nbsp; Agregar Profesor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalVerProfesor" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header py-1 pl-3 bg-primary text-white border-0">
                    <h5 class="modal-title ml-3" id="staticBackdropLabel">Profesor</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedbackVer"></div>
                    <span class="sr-only" id="idProfesor"></span>
                    <span class="sr-only" id="cedulaprofesor"></span>
                    <div class="row mx-auto">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="correo_edit">Correo</label>
                                <input type="text" class="form-control" id="correo_edit" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Usuario_edit">Usuario</label>
                                <input type="text" class="form-control" id="Usuario_edit">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-light" data-dismiss="modal" onclick="cambiarClaveModal()">Cambiar Clave</button>
                    <button type="button" class="btn btn-danger" onclick="eliminarProfesor()"><i class="far fa-trash-alt"></i> Eliminar</button>
                    <button type="button" class="btn btn-primary" onclick="actualizarProfesor()"><i class="fas fa-pencil-alt"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
     <div class="d-flex" id="wrapper">
         <%- include('menuDashboard') %>
         <div id="page-content-wrapper">
            <%- include('headerDashboard') %>

            <div class="container-fluid mt-4">
                <div class="card border-0 shadow-primary rounded-3 my-3">
                    <div class="card-body py-2">
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-6 ">
                                <h2 class="font-weight-bolder">Lista de Profesores</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de los profesores <br>
                                    que imparten los talleres de la piscina.</small><br>
                                <small>Información actualizada hace: <span class="text-success"
                                        id="infoTiming"></span></small>
                            </div>
                            <div class="col-md-4 mt-3 mt-sm-0">
                                <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1"
                                    id="profesores_stats">0</h1>
                                <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                title="Cantidad Total de profesores registrados">Profesores &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white shadow-primary p-3 rounded-3 mt-4 animate__animated animate__fadeIn animate__slow">
                    <div class="row mx-0 d-flex justify-content-between">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <div class="btn bg-light" id="button_search">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control border-0 shadow-none bg-light"
                                    onkeyup="searchonfind()" placeholder="Buscar..."
                                    aria-label="Username" id="barraBuscar">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-end align-items-end mt-3 mt-sm-0">
                            <div class="w-100">
                                <button type="button" class="btn btn-primary rounded-4 d-block w-100" id="modalButtonAgregarEstudiante"
                                onclick="openModal('#modalAdd')"><i class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white px-2 py-2 shadow-primary rounded-3 mt-4 animate__animated animate__zoomIn">
                    <!-- <div class="row bg-light mx-auto rounded-lg justify-content-between py-1 mb-1">
                        <div class="col-md-6 pl-1 pr-0">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <button class="btn bg-white" type="button" id="button_search"><i
                                            class="fas fa-search"></i></button>
                                </div>
                                <input type="text" class="form-control border-0 shadow-none bg-white"
                                    onkeyup="searchonfind()" placeholder="Buscar..."
                                    aria-label="Username" id="barraBuscar">
                            </div>

                        </div>
                        <div class="col-md-6 d-flex justify-content-around px-0">
                            <div class="row no-gutters px-0 w-100 d-flex justify-content-between">
                                <div class="col-5 d-flex align-items-center">
                                    <div id="showlenghtentries" class="d-flex align-items-center m-0">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center justify-content-end pr-2"
                                    style="max-height: 40px">
                                    <button type="button" name="agregarTaller"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Agregar un Profesor" onclick="openModal('#modalAdd')" class="btn bg-success btn-sm text-white mr-2"
                                        style="border-radius: 50px;"><i class="fas fa-plus"></i>
                                    </button>
                                    <a href="/admin/profesores" name="actualizar_lista" id="actualizar_lista"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Actualizar lista" class="btn bg-white btn-sm"
                                        style="border-radius: 50px;"><i
                                            class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row mx-0 mx-auto rounded-3 justify-content-between pt-1">
                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                            <h4 class="font-weight-bold mb-0 ">Listado</h4>
                        </div>
                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                            <h6 class="font-weight-bold">Show</h6>
                            <div class="ml-2 w-100" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                            <div id="pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover" id="table" data-order="[[ 0, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th class="" scope="col">#</th> <!--ID-->
                                    <th class="" scope="col">&nbsp;</th> <!--Aqui va la foto-->
                                    <th class="" scope="col">Nombre</th> 
                                    <th class="" scope="col">Cédula</th>
                                    <th class="" scope="col">Correo</th>
                                    <th class="" scope="col">Sexo</th>
                                    <th class="" scope="col">&nbsp;</th> <!--Aqui va el edit-->
                                </tr>
                            </thead>
                            <tbody id="lista_profesores">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end border-info w-100">
                            <small id="info" class="d-flex align-items-end ml-4"></small>
                        </div>
                    </div>
                </div>
                 
            </div>
            <%- include('footerDashboard') %>
         </div>
     </div>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
     <script src="../../js/admin/profesores.js"></script>
 </body>
 </html>