<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard - Talleres</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../../css/animate.css">
    <script src="../../js/jq-bs-bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>

<body class="page bg-light d-flex flex-column h-100">
    
    <div class="modal fade" id="modalEditTaller" tabindex="-1" aria-labelledby="modalEditTallerLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3" id="modalEditTallerLabel">Editar Taller</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="feedbackEditarTaller"></div>
                        <span class="sr-only" id="idTallerModal"></span>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="descripcion">Descripcion</label>
                                    <input type="text" class="form-control" id="descripcionModalTaller" placeholder="Descripcion..">
                                </div>
                                <div class="form-group">
                                    <label for="nivel">Nivel</label>
                                    <input type="text" class="form-control" id="nivelModalTaller" placeholder="Nivel..">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="costoestudiante">Costo Estudiante</label>
                                    <input type="text" class="form-control" id="costoestudianteModalTaller" placeholder="Costo Estudiante..">
                                </div>
                                <div class="form-group">
                                    <label for="costofuncionario">Costo Funcionario</label>
                                    <input type="text" class="form-control" id="costofuncionarioModalTaller" placeholder="Costo Funcionario..">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-1 border-0">
                    <button type="button" class="btn btn-danger btn-sm" onclick="eliminarTaller()"><i class="fas fa-trash"></i> Eliminar</button>
                    <button type="button" class="btn btn-primary btn-sm" id="actualizarTaller" onclick="actualizarDatosTaller()"><i class="fas fa-sync"></i> Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agregarTaller" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3" id="exampleModalLabel"><i class="fas fa-swimmer"></i> Agregar Taller</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedback"></div>
                    <div class="form-group">
                        <label for="codigoTallerModalAgregar">Codigo Taller</label>
                        <input type="text" name="codigoTallerModalAgregar" pattern="NAT.+" id="codigoTallerModalAgregar" 
                        onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Codigo">
                        <small class="text-muted">eg: NAT008</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcionTallerModalAgregar">Descripcion</label>
                        <input type="text" name="descripcionTallerModalAgregar" id="descripcionTallerModalAgregar" class="form-control" placeholder="Descripcion">
                        <small class="text-muted">Nombre del taller en la piscina</small>
                    </div>
                    <div class="form-group">
                        <label for="nivelTallerModalAgregar">Nivel</label>
                        <input type="number" name="nivelTallerModalAgregar" id="nivelTallerModalAgregar" class="form-control" placeholder="Nivel">
                        <small class="text-muted">Nivel del taller</small>
                    </div>
                    <div class="form-group">
                        <label for="costoEstTallerModalAgregar">Costo Estudiante</label>
                        <input type="number" name="costoEstTallerModalAgregar" id="costoEstTallerModalAgregar" class="form-control" placeholder="Costo Estudiante">
                        <small class="text-muted">Costo mensual de la piscina por estudiante</small>
                    </div>
                    <div class="form-group">
                        <label for="costoFunTallerModalAgregar">Costo Funcionario</label>
                        <input type="number" name="costoFunTallerModalAgregar" id="costoFunTallerModalAgregar" class="form-control" placeholder="Costo Funcionarios">
                        <small class="text-muted">Costo mensual de la piscina por funcionario</small>
                    </div>
                </div>
                <div class="modal-footer pt-0 border-0">
                    <button type="button" class="btn btn-primary" onclick="agregarTaller()"><i class="fas fa-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agregarHorario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3" id="exampleModalLabel">Agregar Horario</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedbackHorarioAgregar"></div>
                    <div class="form-group">
                        <label for="codigoHorarioModalAgregar" class="font-weight-bold">Dia</label>
                        <select class="custom-select" id="diaAgregarHorarioModal">
                            <option value="LUNES">LUNES</option>
                            <option value="MARTES">MARTES</option>
                            <option value="MIERCOLES">MIERCOLES</option>
                            <option value="JUEVES">JUEVES</option>
                            <option value="VIERNES">VIERNES</option>
                            <option value="SABADO">SABADO</option>
                            <option value="DOMINGO">DOMINGO</option>
                        </select>
                        <small class="text-muted">Dia de la semana</small>
                    </div>
                    <label for="horaAgregarHorarioModal_horaInicio" class="font-weight-bold">Hora Inicio</label>
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="form-group mb-0" style="width: 80px;">
                            <select class="custom-select" id="horaAgregarHorarioModal_horaInicio">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <h4 class="mx-2">:</h4>
                        <div class="form-group mb-0 mr-2" style="width: 100px;">
                            <select class="custom-select" id="horaAgregarHorarioModal_minutosInicio">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <select class="custom-select" id="horaAgregarHorarioModal_ampmInicio">
                                <option value="am">am</option>
                                <option value="pm">pm</option>
                            </select>
                        </div>
                    </div>
                    <label for="horaAgregarHorarioModal_horaFinal" class="font-weight-bold">Hora Final</label>
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="form-group mb-0" style="width: 80px;">
                            <select class="custom-select" id="horaAgregarHorarioModal_horaFinal">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <h4 class="mx-2">:</h4>
                        <div class="form-group mb-0 mr-2" style="width: 100px;">
                            <select class="custom-select" id="horaAgregarHorarioModal_minutosFinal">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </div>
                        <div class="form-group mb-0 ">
                            <select class="custom-select" id="horaAgregarHorarioModal_ampmFinal">
                                <option value="am">am</option>
                                <option value="pm">pm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0 border-0">
                    <button type="button" class="btn btn-primary" onclick="agregarHorario()"><i class="fas fa-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEditHoraio" tabindex="-1" aria-labelledby="modalEditHoraioLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3" id="modalEditHoraioLabel">Editar Horario</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedbackHorarioEditar"></div>
                    <span class="sr-only" id="idHorarioModal"></span>
                    <div class="form-group">
                        <label for="codigoHorarioModaleditar">Dia</label>
                        <select class="custom-select" id="diaeditarHorarioModal">
                            <option value="LUNES">LUNES</option>
                            <option value="MARTES">MARTES</option>
                            <option value="MIERCOLES">MIERCOLES</option>
                            <option value="JUEVES">JUEVES</option>
                            <option value="VIERNES">VIERNES</option>
                            <option value="SABADO">SABADO</option>
                            <option value="DOMINGO">DOMINGO</option>
                        </select>
                        <small class="text-muted">Dia de la semana</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcionHorarioModaleditar">Hora</label>
                        <select class="custom-select" id="horaeditarHorarioModal">
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                        </select>
                        <small class="text-muted">5 - 21 horas</small>
                    </div>
                </div>
                <div class="modal-footer py-1 border-0">
                    <button type="button" class="btn btn-danger btn-sm" onclick="eliminarHorario()"><i class="fas fa-trash"></i> Eliminar</button>
                    <button type="button" class="btn btn-primary btn-sm" id="actualizarHorario" onclick="actualizarDatosHorario()"><i class="fas fa-sync"></i> Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agregarGrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary">
                    <h5 class="modal-title pl-3 text-white" id="exampleModalLabel"><i class="fas fa-users"></i> Agregar Grupo</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedbackAgregarGrupo"></div>
                    <div class="form-group">
                        <label for="codigoTallerModalAgregar">Horario</label>
                        <select class="custom-select" id="horarioSelectGrupo">
                            
                        </select>
                        <small class="text-muted">Seleccione la fecha en la que se impartira este grupo</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcionTallerModalAgregar">Taller</label>
                        <select class="custom-select" id="talleresSelectGrupo">
                            
                        </select>
                        <small class="text-muted">Seleccione el taller que imparte este grupo</small>
                    </div>
                    <div class="form-group">
                        <label for="nivelTallerModalAgregar">Profesor</label>
                        <select class="custom-select" id="profesoresSelectGrupo">
                            
                        </select>
                        <small class="text-muted">Seleccione el profesor que impartira el grupo</small>
                    </div>
                    <div class="form-group">
                        <label for="cupobaseAgregarModal">Cupos por grupo</label>
                        <input type="number" name="cupobaseAgregarModal" id="cupobaseAgregarModal" class="form-control" placeholder="Cupo Base">
                        <small class="text-muted">Cantidad de alumnos por grupo</small>
                    </div>
                    <div class="form-group">
                        <label for="cupoExtraAgregarModal">Cupo Extra</label>
                        <input type="number" name="cupoExtraAgregarModal" id="cupoExtraAgregarModal" class="form-control" placeholder="Extras">
                        <small class="text-muted">Cupos extra para reposicion</small>
                    </div>
                    <div class="form-group">
                        <label for="periodoAgregarModal">Fecha de conclusion</label>
                        <input type="date" name="periodoAgregarModal" id="periodoAgregarModal" class="form-control" placeholder="Periodo">
                        <small class="text-muted">Fecha en la que termina el curso</small>
                    </div>
                </div>
                <div class="modal-footer py-0 border-0 mb-2">
                    <button type="button" class="btn btn-primary" onclick="agregarGrupo()"><i class="fas fa-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="actualizarGrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3" id="modalEditGrupoLabel">Editar Grupo</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <span class="sr-only" id="idGrupoModal"></span>
                    <div id="toogleFormActualizar">
                        <div class="form-group">
                            <label for="horarioInputActualizar">Horario</label>
                            <select class="custom-select" id="horarioInputActualizar">
                                
                            </select>
                            <small class="text-muted">Seleccione la fecha en la que se impartira este grupo</small>
                        </div>
                        <div class="form-group">
                            <label for="talleresSelectGrupoActualizar">Taller</label>
                            <select class="custom-select" id="talleresSelectGrupoActualizar">
                                
                            </select>
                            <small class="text-muted">Seleccione el taller que imparte este grupo</small>
                        </div>
                        <div class="form-group">
                            <label for="profesoresSelectGrupoActualizar">Profesor</label>
                            <select class="custom-select" id="profesoresSelectGrupoActualizar">
                                
                            </select>
                            <small class="text-muted">Seleccione el profesor que impartira el grupo</small>
                        </div>
                        <div class="form-group">
                            <label for="cupobaseActualizarModal">Cupos por grupo</label>
                            <input type="number" name="cupobaseActualizarModal" id="cupobaseActualizarModal" class="form-control" placeholder="Cupo Base">
                            <small class="text-muted">Cantidad de alumnos por grupo</small>
                        </div>
                        <div class="form-group">
                            <label for="cupoExtraActualizarModal">Cupo Extra</label>
                            <input type="number" name="cupoExtraActualizarModal" id="cupoExtraActualizarModal" class="form-control" placeholder="Extras">
                            <small class="text-muted">Cupos extra para reposicion</small>
                        </div>
                        <div class="form-group">
                            <label for="periodoActualizarModal">Fecha de conclusion</label>
                            <input type="date" name="periodoActualizarModal" id="periodoActualizarModal" class="form-control" placeholder="Periodo">
                            <small class="text-muted">Fecha en la que termina el curso</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0 border-0 mb-2">
                    <div id="feedbackActualizarGrupo"></div>
                    <button type="button" class="btn btn-danger btn-sm" onclick="eliminarGrupo()"><i class="fas fa-trash"></i> Eliminar</button>
                    <button type="button" class="btn btn-primary btn-sm" id="actualizarTaller" onclick="actualizarDatosGrupo()"><i class="fas fa-sync"></i> Actualizar</button>
                </div>
            </div>
        </div>
    </div>
     
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
            <div id="page-content-wrapper">
                <%- include('headerDashboard') %>
                
                <div class="container-fluid mt-4">
                    <div class="card border-0 shadow-primary my-3 rounded-3">
                        <div class="card-body py-2">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h2 class="font-weight-bolder">Lista de Talleres</h2>
                                    <small class="text-muted">En esta seccion se muestra la lista de los talleres
                                        de la piscina, donde podra gestionar todos los  <br>
                                        horarios, y los grupos de la piscina.</small><br>
                                    <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming">0 segundos</span></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX" id="talleres_stats">0</h1>
                                    <small class="text-muted">Talleres &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col border-right">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX" id="horarios_stats">0</h1>
                                    <small class="text-muted">Horarios &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                                <div class="col ">
                                    <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX" id="grupos_stats">0</h1>
                                    <small class="text-muted">Grupos &nbsp; <i class="fas fa-align-center text-info"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 shadow">
                        <nav>
                            <div class="nav bg-light" id="nav-tab" role="tablist">
                                <a class="nav-link-casilleros active" id="nav-calendario-tab" data-toggle="tab" 
                                href="#nav-calendario" role="tab" aria-controls="nav-calendario" aria-selected="true">
                                <i class="fas fa-calendar-day text-primary"></i> Calendario</a>
                                <a class="nav-link-casilleros " id="nav-talleres-tab" data-toggle="tab" 
                                href="#nav-talleres" role="tab" aria-controls="nav-talleres" aria-selected="fasle">
                                <i class="fas fa-swimmer text-primary"></i> Talleres</a>
                                <a class="nav-link-casilleros" id="nav-horarios-tab" data-toggle="tab" 
                                href="#nav-horarios" role="tab" aria-controls="nav-horarios" aria-selected="false">
                                <i class="fas fa-clock text-primary"></i> Horarios</a>
                                <a class="nav-link-casilleros" id="nav-grupos-tab" data-toggle="tab" 
                                href="#nav-grupos" role="tab" aria-controls="nav-grupos" aria-selected="false">
                                <i class="fas fa-users text-primary"></i> Grupos</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-calendario" role="tabpanel" aria-labelledby="nav-calendario-tab">
                                <div class="mx-0 w-100 mt-4 bg-white rounded p-2">
                                    <div id="calendar"></div>
                                    
                                      <style>
                                          #calendar {
                                              width:100%;
                                          }
                                          
                                          .fc-daygrid-event{
                                              white-space: normal !important;
                                              padding: 5px;
                                          }
                                      </style>

                                </div>
                            </div>
                            <div class="tab-pane fade " id="nav-talleres" role="tabpanel" aria-labelledby="nav-talleres-tab">
                                <div class="card-body px-0 py-2">
                                    <div class="row mx-0 d-flex justify-content-between mb-3">
                                        <div class="col">
                                            <div class="mb-1">
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend">
                                                        <div class="btn bg-light" id="button_search">
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                                        onkeyup="searchonfind(this)" data-type="talleres" placeholder="Buscar..."
                                                         id="barraBuscar_talleres">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                                            <div class="w-100">
                                                <button type="button" name="agregarTaller" id="agregarTaller" 
                                                class="btn btn-primary rounded-4 d-block w-100" 
                                                data-toggle="modal" data-target="#agregarTaller">
                                                <i class="fas fa-plus"></i> Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-auto rounded-lg justify-content-between py-1 my-1">
                                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                                            <h4 class="font-weight-bold mb-0 ">Talleres</h4>
                                            
                                        </div>
                                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                                            <h6 class="font-weight-bold">Show</h6>
                                            <div id="lenghtTable_talleres" class="px-1 m-0 w-100">
                                            </div> 
                                        </div>
                                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                                            <div id="pagination_talleres">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>      
                                    </div>
                                    <div class="row w-100 mx-0" style="min-height: 650px; overflow-y: auto;">
                                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                                            id="talleres_table" >
                                            <thead class="table-light-header">
                                                <tr>
                                                    <th class="" scope="col"><strong>#</strong></th>
                                                    <th class="" data-class-name="priority" scope="col">Codigo</th>
                                                    <th class="" scope="col">Descripcion</th>
                                                    <th class="" scope="col">Nivel</th>
                                                    <th class="" scope="col">Costo Estudiante</th>
                                                    <th class="" scope="col">Costo Funcionario</th>
                                                    <th class="" scope="col">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="talleres_list">
        
                                            </tbody>
                                        </table>
                                        <div class="d-flex align-items-center align-self-end border-info w-100">
                                            <div class="row w-100 ml-0">
                                                <div class="col-md-6 d-flex justify-content-start text-muted pl-2">
                                                    <small id="infoTable_talleres" class="d-flex align-items-end"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-horarios" role="tabpanel" aria-labelledby="nav-horarios-tab">
                                <div class="card-body px-0 py-2">
                                    <div class="row mx-0 d-flex justify-content-between mb-3">
                                        <div class="col">
                                            <div class="mb-1">
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend">
                                                        <div class="btn bg-light" id="button_search">
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                                        onkeyup="searchonfind(this)" data-type="horarios" placeholder="Buscar..."
                                                         id="barraBuscar_horarios">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                                            <div class="w-100">
                                                <button type="button" name="agregarHorario" id="agregarHorario" 
                                                class="btn btn-primary rounded-4 d-block w-100" 
                                                data-toggle="modal" data-target="#agregarHorario">
                                                <i class="fas fa-plus"></i> Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-auto rounded-lg justify-content-between py-1 my-1">
                                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                                            <h4 class="font-weight-bold mb-0 ">Horarios</h4>
                                        </div>
                                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                                            <h6 class="font-weight-bold">Show</h6>
                                            <div id="lenghtTable_horarios" class="px-1 m-0 w-100">
                                            </div> 
                                        </div>
                                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                                            <div id="pagination_horarios">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>      
                                    </div>
                                    <div class="row w-100 mx-0" style="min-height: 650px; overflow-y: auto;">
                                        <table class="table custom-table table-responsive-xs table-borderless text-center table-hover"
                                            id="horarios_table" data-order="[[ 1, &quot;asc&quot; ]]">
                                            <thead class="table-light-header">
                                                <tr>
                                                    <th class="text-center" ><strong>#</strong></th>
                                                    <th class="text-center" data-class-name="priority" >Dia</th>
                                                    <th class="text-center" >Hora de Inicio</th>
                                                    <th class="text-center" >Hora Final</th>
                                                    <th class="text-center" style="width: 50px !important;" >Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="horarios_list">
        
                                            </tbody>
                                        </table>
                                        <div class="d-flex align-items-center align-self-end border-info w-100">
                                            <div class="row w-100 ml-0">
                                                <div class="col-md-6 d-flex justify-content-start text-muted pl-2">
                                                    <small id="infoTable_horarios" class="d-flex align-items-end"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-grupos" role="tabpanel" aria-labelledby="nav-grupos-tab">
                                <div class="card-body px-0 py-2">
                                    <div class="row mx-0 d-flex justify-content-between mb-3">
                                        <div class="col">
                                            <div class="mb-1">
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend">
                                                        <div class="btn bg-light" id="button_search">
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                                        onkeyup="searchonfind(this)" data-type="grupos" placeholder="Buscar..."
                                                         id="barraBuscar_grupos">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end align-items-end ">
                                            <div class="w-100">
                                                <button type="button" name="agregarGrupo" id="agregarGrupo" 
                                                class="btn btn-primary rounded-4 d-block w-100" 
                                                data-toggle="modal" data-target="#agregarGrupo">
                                                <i class="fas fa-plus"></i> Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-auto rounded-lg justify-content-between py-1 my-1">
                                        <div class="col-md-3 flex-fill d-flex align-items-baseline">
                                            <h4 class="font-weight-bold mb-0 ">Grupos</h4>
                                        </div>
                                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-end align-items-baseline ">
                                            <h6 class="font-weight-bold">Show</h6>
                                            <div id="lenghtTable_grupos" class="px-1 m-0 w-100">
                                            </div> 
                                        </div>
                                        <div class="col-sm-3 col d-flex justify-content-md-end justify-content-center align-items-baseline mt-2 mt-sm-0" style="height:35px;">
                                            <div id="pagination_grupos">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>      
                                    </div>
                                    <div class="row w-100 mx-0" style="min-height: 750px; overflow-y: auto;">
                                        <table class="table custom-table table-responsive-sm table-borderless text-center table-hover"
                                            id="grupos_table" data-order="[[ 1, &quot;asc&quot; ]]">
                                            <thead class="table-light-header">
                                                <tr>
                                                    <th class=""><strong>#</strong></th>
                                                    <th class="" data-class-name="priority">Horario</th>
                                                    <th class="">Profesor</th>
                                                    <th class="">Taller</th>
                                                    <th class="">Cupo</th>
                                                    <th class="">Extra</th>
                                                    <th class="">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="grupos_list">
        
                                            </tbody>
                                        </table>
                                        <div class="d-flex align-items-center align-self-end border-info w-100">
                                            <div class="row w-100 ml-0">
                                                <div class="col-md-6 d-flex justify-content-start text-muted pl-2">
                                                    <small id="infoTable_grupos" class="d-flex align-items-end"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <%- include('footerDashboard') %>
            </div>
    </div>
    </div>
    <div id="modal-view-event" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <h4 class="modal-title bg-primary text-white px-3 py-1 rounded-3-top">
                    <span class="event-icon"></span>
                    <span class="event-title"></span>
                </h4>
                <div class="modal-body">
                    <div class="event-body"></div>
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>

    <script src="../../js/admin/talleres.js"></script>
</body>

</html>