<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" type="text/css" href="../../css/dashboard.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/animate.css">
    <script src="../../js/jq-bs-bundle.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body class="page bg-light d-flex flex-column h-100" onresize="change_navbar()">
    <div class="d-flex" id="wrapper">
        <div class="bg-primary border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="../../img/logo-vive-promocion-transparency.png" class="imgIcon" alt="" width="60px">
                <strong class="text-white">SIADP</strong>
            </div>

            <div class="list-group list-group-flush accordion " id="accordion-menu-lateral">
                <a class="bg-primary list-group-item list-group-item-action border-0 bg-menu menu-active text-white py-3" role="button">
                    <i class="fas fa-chart-line"></i>&nbsp; Dashboard
                </a>
                <a class="bg-primary list-group-item list-group-item-action border-0 bg-menu text-white py-3" 
                data-toggle="collapse" href="#collapseUsuarios" role="button" aria-expanded="false" aria-controls="collapseUsuarios">
                    <i class="fas fa-users"></i>&nbsp; Usuarios  <i class="fas fa-angle-down float-right"></i>
                </a>
                    <div class="collapse" id="collapseUsuarios" data-parent="#accordion-menu-lateral">
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-user"></i>&nbsp; Estudiantes
                        </a>
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-user-tie"></i></i>&nbsp; Administradores
                        </a>
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-chalkboard-teacher"></i></i>&nbsp; Profesores
                        </a>
                    </div>
                <a class="bg-primary list-group-item list-group-item-action border-0 bg-menu text-white py-3"
                data-toggle="collapse" href="#collapseTalleres" role="button" aria-expanded="false" aria-controls="collapseTalleres">
                    <i class="fas fa-swimmer"></i></i>&nbsp; Talleres <i class="fas fa-angle-down float-right"></i>
                </a>
                    <div class="collapse" id="collapseTalleres" data-parent="#accordion-menu-lateral">
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-swimmer"></i>&nbsp; Talleres
                        </a>
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-swimmer"></i>&nbsp; Grupos
                        </a>
                    </div>
                <a class="bg-primary list-group-item list-group-item-action border-0 bg-menu text-white py-3"
                data-toggle="collapse" href="#collapseMatricula" role="button" aria-expanded="false" aria-controls="collapseMatricula">
                    <i class="fas fa-table"></i></i>&nbsp; Matricula <i class="fas fa-angle-down float-right"></i>
                </a>
                    <div class="collapse" id="collapseMatricula" data-parent="#accordion-menu-lateral">
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-bell"></i>&nbsp; Solicitudes
                        </a>
                        <a class="bg-primary text-white list-group-item list-group-item-action border-0 pl-5 pr-0 bg-menu">
                            <i class="fas fa-user-check"></i>&nbsp; Comprobacion
                        </a>
                    </div>
                <a class="bg-primary list-group-item list-group-item-action border-0 bg-menu text-white py-3" role="button">
                    <i class="far fa-newspaper"></i>&nbsp; Reportes</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            
            <div class="container-fluid">
                <div class="w-90 mx-auto mt-2 mb-4">
                    <nav>
                        <div class="nav nav-tabs justify-content-between border-bottom-0" id="nav-tab" role="tablist">
                            <a class="nav-link bg-white rounded-lg p-3 shadow-sm col-md-3 mb-2 border active" id="talleres_chart-tab" data-toggle="tab" href="#talleres_chart" role="tab" aria-controls="talleres_chart" aria-selected="true">
                                <label class="text-center align-text-top text-dark d-block" >Talleres</label>
                                <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                            </a>
                            <a class="nav-link bg-white rounded-lg p-3 shadow-sm col-md-3 mb-2 border " id="usuarios_chart-tab" data-toggle="tab" href="#usuarios_chart" role="tab" aria-controls="usuarios_chart" aria-selected="false">
                                <label class="text-center align-text-top text-dark d-block" >Usuarios</label>
                                <h1 id="usuarios-stats" class="text-center text-secondary"></h1>
                            </a>
                            <a class="nav-link bg-white rounded-lg p-3 shadow-sm col-md-3 mb-2 border" id="matricula_chart-tab" data-toggle="tab" href="#matricula_chart" role="tab" aria-controls="matricula_chart" aria-selected="false">
                                <label class="text-center align-text-top text-dark d-block" >Matriculados</label>
                                <h1 id="matricula-stats" class="text-center text-secondary"></h1>
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content w-100" id="nav-tabContent">
                        <div class="tab-pane fade chart-container bg-white rounded shadow p-3 mt-2 show active" id="talleres_chart" role="tabpanel" aria-labelledby="talleres-chart-tab">
                            <div class="row py-2 px-3">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="d-block">Talleres</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3">
                                <div class="col-md-9 px-0">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <div class="col-md-3 d-flex align-content-stretch flex-wrap">
                                    <div class="text-center w-100">
                                        <h6 class="text-muted">Grupos</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                    <div class="text-center w-100">
                                        <hr>
                                        <h6 class="text-muted">Talleres</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade chart-container bg-white rounded shadow p-3 mt-2" id="usuarios_chart" role="tabpanel" aria-labelledby="
                        nav-profile-tab">
                            <div class="row py-2 px-3">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="d-block">Usuarios</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3">
                                <div class="col-md-9 px-0">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <div class="col-md-3 d-flex align-content-stretch flex-wrap">
                                    <div class="text-center w-100">
                                        <h6 class="text-muted">Profesores</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                    <div class="text-center w-100">
                                        <hr>
                                        <h6 class="text-muted">Usuarios</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                    <div class="text-center w-100">
                                        <hr>
                                        <h6 class="text-muted">Administradores</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                    <div class="text-center w-100">
                                        <hr>
                                        <h6 class="text-muted">Morosos</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade chart-container bg-white rounded shadow p-3 mt-2" id="matricula_chart" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="row py-2 px-3">
                                <div class="w-100">
                                    <h4 id="data-selected-chart" class="d-block">Matricula</h4>
                                </div>
                                <small class="text-muted today-date d-block"></small>
                            </div>
                            <div class="row py-2 px-3">
                                <div class="col-md-9 px-0">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <div class="col-md-3 d-flex align-content-stretch flex-wrap">
                                    <div class="text-center w-100">
                                        <h6 class="text-muted">Matriculados</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                    <div class="text-center w-100">
                                        <hr>
                                        <h6 class="text-muted">Desmatriculados</h6>
                                        <h1 id="talleres-stats" class="text-center text-secondary"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
        </div>
    </div>
    <script src="../../js/admin/dashboard.js"></script>
    <script src="../../js/admin/chart-dashboard.js"></script>
</body>
</html>