<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021
    * Proyecto de Ingenieria en Sistemas I-III
    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dashboard - Estudiantes</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/datatables.min.css">
    <link rel="stylesheet" href="../../css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../../css/animate.css">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script src="../../js/jq-bs-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="modalTakePic" tabindex="-1" aria-labelledby="modalTakePic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info mr-3" onclick="openModalToTakePhoto()">Abrir Camara</button>
                        <button class="btn btn-info mr-3" id="btnCapture">Capturar</button>
                        <button class="btn btn-secondary" id="btnDownloadImage">Descargar Imagen</button>
                    </div>
                    <p id="errorTxt"></p>
                    <div class="mx-auto">
                        <video id="theVideo" autoplay></video>
                        <canvas id="theCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/admin/listEstudiantes/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Cambiar Imagen</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" id="cedulaHiddenCambiarFotoModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalcambiarclave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title pl-3">Solicitud de Cambio de clave a <span id="claveCedulaID"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/estudiantes/cambiarClave" method="post">
                        <div class="form-group">
                            <label for="cambiarclaveinput">Clave</label>
                            <input type="text" class="form-control" name="clave" id="cambiarclaveinput" value="1234">
                            <input type="text" class="form-control" name="cedula" id="cambiarclaveID" hidden>
                            <small class="text-muted">Debe cambiar la clave.</small>
                        </div>
                        <button type="submit" class="btn btn-success">Cambiar Clave</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalAgregarEstudiante" tabindex="-1" data-backdrop="static" data-keyboard="false"
        aria-labelledby="modalAgregarEstudiante" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h6 class="modal-title text-white pl-2">Agregar Estudiante</h6>
                    <button type="button" class="close" id="closeModalAgregar" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="container-fluid">
                        <h6 class="m-0">Datos del Estudiante</h6>
                        <small class="text-muted">
                            Ingrese los datos del estudiante en los campos correspondientes
                            <span class="text-danger">todos los campos son requeridos.</span>
                        </small>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="input-container">
                                    <input type="text" id="cedula_add" required autocomplete="off" />
                                    <small>Cedula</small>
                                    <i class="fa fa-id-card"></i>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="nombre_add" required autocomplete="off">
                                    <small for="nombre">Nombre</small>
                                    <i class="fa fa-id-card"></i>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="apellido_add" required autocomplete="off">
                                    <small for="apellido">Apellido</small>
                                    <i class="fa fa-id-card"></i>
                                </div>
                                <div class="input-container">
                                    <input type="date" id="fechaNacimiento_add" required autocomplete="off">
                                    <small for="fecha">Fecha de Nacimiento</small>
                                </div>
                                <div class="input-container">
                                    <input type="email" id="correo_add" required autocomplete="off">
                                    <small for="correo">Correo</small>
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="username_add" required autocomplete="off">
                                    <small for="nombreusuario">Nombre de Usuario</small>
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-container">
                                    <input type="tel" id="celular_add" required autocomplete="off">
                                    <small for="celular">Telefono Celular</small>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="input-container">
                                    <input type="tel" id="telefonoEmergencia_add" required autocomplete="off">
                                    <small for="emergencia">Telefono Emergencia</small>
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="carrera_add" required autocomplete="off">
                                    <small for="carrera">Carrera o departamento</small>
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                </div>
                                <div class="form-group">
                                    <small for="carrera" class="d-block">Provincia, Canton, Distrito</small>
                                    <select class="form-control form-control-sm d-inline" style="width: 32%;"
                                        id="provincia_add" required autocomplete="off">
                                        <optgroup small="provincia">

                                        </optgroup>
                                    </select>
                                    <select class="form-control form-control-sm d-inline" style="width: 32%;"
                                        id="canton_add">
                                        <optgroup small="canton">

                                        </optgroup>
                                    </select>
                                    <select class="form-control form-control-sm d-inline" style="width: 32%;"
                                        id="distrito_add">
                                        <optgroup small="distrito">

                                        </optgroup>
                                    </select>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="direccion_add" required>
                                    <small>Direccion Exacta</small>
                                    <i class="fas fa-map-marked-alt    "></i>
                                </div>
                                <div class="form-group w-100">
                                    <div class="row">
                                        <div class="col">
                                            <small>Sexo</small>
                                            <select class="form-control form-control-sm" id="sexo">
                                                <option value="0" selected>Seleccione...</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <small>Perfil</small>
                                            <select class="form-control form-control-sm" id="perfil">
                                                <option value="0" selected>Seleccione...</option>
                                                <option value="1">Estudiante</option>
                                                <option value="2">Funcionario</option>
                                            </select>
                                            <small class="text-muted">Perfil que desempeña</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0 pb-2">
                    <button type="button" class="btn btn-primary">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="bg-white" style="width: 400px; height: 250px; display: none;">
                <!--Aqui es para verificar que sea un administrador-->
            </div>
        </div>
    </div>

    <div class="modal " id="modalVerEstudiante" tabindex="-1" aria-labelledby="verModalEstudiante" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header px-3">
                    <h5 class="modal-title pl-3">Detalles de la persona <span id="nombreTarget"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-0">
                        <div class="row mx-0 w-100">
                            <div class="col-lg-4">
                                <span class="sr-only" id="idEstudiante"></span>
                                <span class="sr-only" id="cedulaEstudiante"></span>
                                <div class="form-group">
                                    <label for="v_nombre_usuario">Nombre de usuario</label>
                                    <input type="text" class="form-control" id="v_nombre_usuario">
                                </div>
                                <div class="form-group">
                                    <label for="v_correo">Correo</label>
                                    <input type="email" class="form-control" id="v_correo">
                                </div>
                                <div class="form-group">
                                    <label for="v_fec_nacimiento">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="v_fec_nacimiento">
                                </div>
                                <div class="form-group">
                                    <label for="v_sexo">Sexo</label>
                                    <select id="v_sexo" class="form-control">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="v_telefono">Teléfono</label>
                                    <input type="text" class="form-control" id="v_telefono">
                                </div>
                                <div class="form-group">
                                    <label for="v_celular">Celular</label>
                                    <input type="text" class="form-control" id="v_celular">
                                </div>
                                <div class="form-group">
                                    <label for="v_Dirección">Dirección</label>
                                    <input type="text" class="form-control" id="v_Dirección">
                                </div>
                                <div class="form-group">
                                    <label for="v_tel_emergencia">Teléfono de emergencia</label>
                                    <input type="text" class="form-control" id="v_tel_emergencia">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="v_provincias">Provincia</label>
                                    <input type="text" class="form-control" id="v_provincias">
                                </div>
                                <div class="form-group">
                                    <label for="v_canton">Cantón</label>
                                    <input type="text" class="form-control" id="v_canton">
                                </div>
                                <div class="form-group">
                                    <label for="v_distrito">Distrito</label>
                                    <input type="text" class="form-control" id="v_distrito">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-top">
                    <div class="container">
                        <div class="row mx-0 w-100">
                            <div class="col-lg-6 w-100 py-2 border-right">
                                <div class="form-group w-100">
                                    <label for="estadoModalactualizar">Estado</label>
                                    <div class="input-group ">
                                        <div class="input-group-append flex-grow-1">
                                            <select id="estadoModalactualizar" class="form-control rounded-0" name="estadoModalactualizar">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm py-1" onclick="cambiarEstadoEstudiante()"><i class="far fa-save"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 py-2 w-100">
                                <div class="form-group w-100">
                                    <label for="nivelModalactualizar">Nivel</label>
                                    <div class="input-group ">
                                        <div class="input-group-append flex-grow-1">
                                            <select id="nivelModalactualizar" class="form-control rounded-0" name="nivelModalactualizar">
                                                
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm py-1" onclick="actualizarNivel()"><i class="far fa-save"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="cambiarClaveModal()">Cambiar Contraseña</button>
                    <button type="button" class="btn btn-danger" id="closeModalEstudianteDetallado" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="Guardar-datos-estudiante">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <%- include('filterEstudianteDashboard') %>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
                    <li class="breadcrumb-item"><a href="#">Estudiantes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista de Estudiantes</li>
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="card border-0 shadow-sm my-3">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-6 ">
                                <h2 class="font-weight-bolder">Lista de Estudiantes</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de los
                                    estudiantes que se registraron <br>
                                    y estan aprovados por un <a
                                        href="/admin/administradores">Administrador</a>.</small><br>
                                <small>Información actualizada hace: <span class="text-success"
                                        id="infoTiming-usuarios-estudiantes"></span></small>
                            </div>
                            <div class="col border-right">
                                <h1 class="m-0 font-weight-bolder text-primary"
                                    id="estudiantes_matriculados_stats"></h1>
                                <small class="text-muted">Estudiantes Matriculados &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                            <div class="col border-right">
                                <h1 class="m-0 font-weight-bolder text-primary"
                                    id="estudiantes_inactivos_stats"></h1>
                                <small class="text-muted">Estudiantes Inactivos &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                            <div class="col">
                                <h1 class="m-0 font-weight-bolder text-primary"
                                    id="estudiantes_morosos_stats"></h1>
                                <small class="text-muted">Estudiantes Morosos &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow">
                    <div class="card-body px-2 py-2">
                        <div class="row bg-light mx-auto rounded-lg justify-content-between py-1 mb-1">
                            <div class="col-md-6 pl-1 pr-0">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <button class="btn bg-white" type="button" id="button_search"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                    <input type="search" class="form-control border-0 shadow-none bg-white"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>

                            </div>
                            <div class="col-md-6 d-flex justify-content-around px-0">
                                <div class="row no-gutters px-0 w-100 d-flex justify-content-between">
                                    <div class="col-5 d-flex align-items-center">
                                        <div id="showlenghtentries" class="d-flex align-items-center m-0">
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center justify-content-end pr-2"
                                        style="max-height: 40px">
                                        <button type="button" name="agregarTaller" id="modalButtonAgregarEstudiante"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Agregar un estudiante" onclick="openmodal('#agregarGrupo')" class="btn bg-success btn-sm text-white mr-2"
                                            style="border-radius: 50px;"><i class="fas fa-plus"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-primary btn-sm mr-2"
                                            style="border-radius: 10px;" id="modalButtonAgregarEstudiante"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Agregar un estudiante">Agregar
                                            <i class="fas fa-plus-square"></i>
                                        </button> -->

                                        <a href="/admin/estudiantes" name="actualizar_lista" id="actualizar_lista"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Actualizar lista" class="btn bg-white btn-sm"
                                            style="border-radius: 50px;"><i
                                                class="fas fa-sync-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 mx-0" style="height: 70vh; overflow-y: auto;">
                            <table class="table table-hover table-responsive-md table-borderless" id="estudiantes_TableOrder" data-order="[[ 0, &quot;asc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-id-card"></i> Nombre</th> <!--Aqui va la foto-->
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-address-card"></i> Cédula</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Nivel</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Estado</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Moroso</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_estudiantes">

                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <div class="row w-100 ml-0">
                                    <div class="col-md-6 d-flex justify-content-start text-muted pl-0">
                                        <small id="informacionTable" class="d-flex align-items-end"></small>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end"
                                        id="botonesCambiarTable">

                                    </div>
                                </div>
                            </div>
                            <div class="text-center w-100" id="cargarDatosSpinner-usuarios-estudiantes">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <style>
                            .switch-cus {
                            position: relative;
                            display: inline-block;
                            width: 60px;
                            height: 34px;
                            }

                            .switch-cus input { 
                            opacity: 0;
                            width: 0;
                            height: 0;
                            }

                            .slider-cus {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;
                            }

                            .slider-cus:before {
                            position: absolute;
                            content: "";
                            height: 26px;
                            width: 26px;
                            left: 4px;
                            bottom: 4px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                            }

                            input:checked + .slider-cus {
                            background-color: #2196F3;
                            }

                            input:focus + .slider-cus {
                            box-shadow: 0 0 1px #2196F3;
                            }

                            input:checked + .slider-cus:before {
                            -webkit-transform: translateX(26px);
                            -ms-transform: translateX(26px);
                            transform: translateX(26px);
                            }

                            .slider-cus.round-cus {
                            border-radius: 34px;
                            }

                            .slider-cus.round-cus:before {
                            border-radius: 50%;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="../../js/admin/estudiantes.js"></script>
</body>

</html>