<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Profesores</title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="/css/animate.css">
     <script src="/js/jq-bs-bundle.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
     <div class="d-flex" id="wrapper">
         <%- include('menuDashboard') %>
         <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <nav aria-label="breadcrumb ">
            <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
                    <li class="breadcrumb-item"><a href="#">Profesores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listado</li>
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="card border-0 shadow-sm my-3">
                    <div class="card-body py-2">
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-6 ">
                                <h2 class="font-weight-bolder">Lista de Profesores</h2>
                                <small class="text-muted">En esta seccion se muestra la lista de los profesores <br>
                                    que imparten los talleres de la piscina.</small><br>
                                <small>Información actualizada hace: <span class="text-success"
                                        id="infoTiming"></span></small>
                            </div>
                            <div class="col-md-4 ">
                                <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate__delay-1s"
                                    id="estudiantes_matriculados_stats">0</h1>
                                <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                title="Cantidad Total de profesores registrados">Profesores &nbsp; <i
                                        class="fas fa-align-center text-info"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-body bg-white px-2 py-2">
                        <div class="row bg-light mx-auto rounded-lg justify-content-between py-1 mb-1">
                            <div class="col-md-6 pl-1 pr-0">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <button class="btn bg-white" type="button" id="button_search"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                    <input type="search" class="form-control border-0 shadow-none bg-white"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>

                            </div>
                            <div class="col-md-6 d-flex justify-content-around px-0">
                                <div class="row no-gutters px-0 w-100 d-flex justify-content-between">
                                    <div class="col-5 d-flex align-items-center">
                                        <div id="showlenghtentries" class="d-flex align-items-center m-0">
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center justify-content-end pr-2"
                                        style="max-height: 40px">
                                        <button type="button" name="agregarTaller" id="modalButtonAgregarEstudiante"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Agregar un estudiante" onclick="openModal('#modalAgregarEstudiante')" class="btn bg-success btn-sm text-white mr-2"
                                            style="border-radius: 50px;"><i class="fas fa-plus"></i>
                                        </button>
                                        <a href="/admin/estudiantes" name="actualizar_lista" id="actualizar_lista"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Actualizar lista" class="btn bg-white btn-sm"
                                            style="border-radius: 50px;"><i
                                                class="fas fa-sync-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 mx-0" style="height: 74vh; overflow-y: auto;">
                            <table class="table custom-table table-responsive-md " id="estudiantes_TableOrder" data-order="[[ 0, &quot;asc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-id-card"></i> Nombre</th> <!--Aqui va la foto-->
                                        <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-address-card"></i> Cédula</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Nivel</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Estado</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">Moroso</th>
                                        <th class="bg-dark text-white sticky-top" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_estudiantes">

                                </tbody>
                            </table>
                            <div class="d-flex align-items-center align-self-end border-info w-100">
                                <div class="row w-100 ml-0">
                                    <div class="col-md-6 d-flex justify-content-start text-muted pl-0">
                                        <small id="informacionTable" class="d-flex align-items-end"></small>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end"
                                        id="botonesCambiarTable">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>
            <%- include('footerDashboard') %>
         </div>
     </div>
     <script src="../../js/admin/dashboard.js"></script>
     <script src="../../js/admin/chart-dashboard.js"></script>
 </body>
 </html>