<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <title>Clases</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/animate.css">
    <script src="../js/jq-bs-bundle.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body style="overflow-x:hidden ;">
    <%- include('perfilHeader') %>
    <span class="sr-only" id="id_cedula"><%= usuario.cedula%></span>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0" id="breadcrumbPages">
            <li class="breadcrumb-item active"><a href="#">Clases</a></li>
            <li class="breadcrumb-item" id="breadcrum-item-listaestudiantes" style="display: none;"><a href="#">Listado de Estudiantes</a></li>
        </ol>
    </nav>
    <div class="container mt-3">
        
        <nav class="d-flex justify-content-between" aria-label="breadcrumb" style="height: 40px;">
            <button type="button" class="btn" data-page="0" id="pag_ant" style="display: none;"><i class="fas fa-chevron-left"></i></button>
        </nav>
        <div id="contentLista" style="min-height: 600px;">
            <div id="clasesLista">
                
            </div>
            <div id="EstudiantesPorClaseLista" style="display: none;">
                
            </div>
        </div>
    </div>
    <%- include('perfilFooter') %>
    <script src="../js/profesor/listaEstudiantes.js"></script>
</body>
</html>