<nav class="navbar navbar-expand-lg navbar-light bg-primary py-0">
    <a class="navbar-brand p-0" href="/profesores/clases">
        <img src="../../../img/logo-vive-promocion-transparency.png" style="width:1.6rem;filter: brightness(0) invert(1);" 
        class="d-inline-block align-middle pb-1" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#menuDropdown" 
        aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse " id="menuDropdown">
        <ul class="navbar-nav justify-content-between w-100">
            <div class="d-lg-flex d-sm-flex d-md-block">
                <li class="nav-item ml-3">
                    <a class="nav-link pro-nav-link text-center" href="/profesores/clases">
                        <%if(selected == "clases"){%>
                            Clases
                        <%} else{ %>
                            Clases
                        <%}%>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pro-nav-link text-center" href="/profesores/asistencia">
                        <%if(selected == "asistencia"){%>
                            Asistencia
                        <%} else{ %>
                            Asistencia
                        <%}%>
                    </a>
                </li>
            </div>
            <div class="d-lg-flex d-sm-flex d-md-block">
                <li class="nav-item ml-3 dropdown">
                    <a class="nav-link text-center text-uppercase" href="/profesores/perfil">
                        <i class="fa fa-user-circle"></i>
                        <%if(selected == "perfil"){%>
                            <%= usuario.usuario %>
                        <%} else{ %>
                            <%= usuario.usuario %>
                        <%}%>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-center" href="/profesores/logout">
                        <i class="fas fa-power-off"></i>&nbsp; Salir
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>