<!DOCTYPE html>
<html lang="es">
<head>
    <title>Matricula</title>
    <%- include('headers') %>
</head>
<body>
    
    <%- include('header',{titleHere: "Matrícula"}) %>
    
    <%- include('menu') %>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/client/sockets.js"></script>
    <script src="/js/client/matricula.js"></script>
</body>
</html>