<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Login</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <script src="../js/jq-bs-bundle.js"></script> 
</head>
<body class="d-flex flex-column h-100 bg-light">
    <div class="container my-auto">
        <div class="w-100 m-auto bg-white shadow rounded-lg p-3 position-relative" style="max-width: 450px;">
            <div class="position-absolute bg-white rounded-circle d-flex justify-content-center p-3" style="top: -18%; left: 40%;">
                <i class="fas fa-user-tie fa-4x text-center text-primary"></i>
            </div>
            <img class="mx-auto my-3 d-block" src="../img/UNA-VVE-logo-3.png" alt="" width="40%">
            <%if(typeof err != "undefined"){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Login Failed!</strong> <%= err%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%}%>
            
            <form action="/profesores/entrar" method="post">
                <label for="cedula">Cedula</label>
                <input type="text" id="cedula" name="cedula" class="form-control mb-3" placeholder="Cedula..." required="" autofocus="">
                
                <label for="clave">Clave</label>
                <input type="password" id="clave" name="clave" class="form-control" placeholder="Clave..." required="">
                
                <button class="btn btn-lg btn-secondary d-block mx-auto w-50 mt-4" type="submit" id="inciarSesion">Entrar</button>
            </form>
        </div>
    </div>
    <footer class="footer mt-2 py-3 justify-content-center">
        <p class="mb-1 text-center">© 2020-2021 Universidad Nacional de Costa Rica</p>
   </footer>
    <script src="../js/login.js"></script>
    
</body>
</html>