<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="../js/jq-bs-bundle.js"></script>
    <script src="../js/index.js"></script>
</head>
<body> 

  <%- include('headerPrueba') %>
  <div class="container">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Perfil</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" id="foto_perfil" src="assets/img/dogs/IMG_201.jpg" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-danger btn-sm" id="btn_cambiar_foto" type="button">Cambiar foto</button></div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h3 class="text-center text-dark font-weight-bold m-0">Talleres</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Natación l<span class="float-right">20%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Natación ll<span class="float-right">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Natación lll<span class="float-right">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Natación lV<span class="float-right">80%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Natación V<span class="float-right">¡Completo!</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-center text-dark m-0 font-weight-bold">Información personal</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="username"><strong>Identificación</strong></label><input class="form-control" type="text" id="id_perfil" name="username" placeholder="402440420"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Nombre</strong></label><input class="form-control" type="text" id="nombre_perfil" name="email" placeholder="Edso Cruz Víquez"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>Email</strong><br></label><input class="form-control" type="email" id="email_perfil" placeholder="John" name="first_name"></div>
                                                    </div>
                                                    <div class="col"><label for="first_name"><strong>Sexo</strong><br></label>
                                                        <div class="form-group"><select class="form-control" id="sexo_perfil"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                                    </div>
                                                    <div class="col"><label for="first_name"><strong>Fecha de nacimiento</strong><br></label>
                                                        <div class="form-group"><input class="form-control" id="fecha_nacimiento_perfil" type="date" style="width: 170px;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Celular</strong><br></label><input class="form-control" type="tel" id="celular_perfil" placeholder="Doe" name="last_name"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Teléfono</strong><br></label><input class="form-control" type="tel" id="telefono_perfil" placeholder="Doe" name="last_name"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Teléfono secundario</strong><br></label><input class="form-control" type="tel" placeholder="Doe" name="last_name"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col"><label for="first_name"><strong>Provincia</strong><br></label>
                                                        <div class="form-group"><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                                    </div>
                                                    <div class="col"><label for="first_name"><strong>Cantón</strong><br></label>
                                                        <div class="form-group"><select class="form-control"><optgroup label="Seleccione el cantón"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                                    </div>
                                                    <div class="col"><label for="first_name"><strong>Distrito</strong><br></label>
                                                        <div class="form-group"><select class="form-control" id="distrito_perfil"><optgroup label="Seleccione el distrito "><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center"><button class="btn btn-danger btn-sm btn_guardar_perfil" type="submit">Guardar</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5">
                        <div class="card-header text-center py-3">
                            <div><a class="btn btn-danger" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" id="btn_mostrar_info_medica">Información médica</a>
                                <div class="collapse" id="collapse-1">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3"><label for="first_name"><strong>En caso de emergencia avisar a:</strong><br></label>
                                                    <div class="form-group"><input type="text" id="nombre_emergencia_medica-1" class="nombre_emergencia_medica" style="width: 233px;"></div>
                                                </div>
                                                <div class="col-3"><label for="first_name"><strong>Celular&nbsp;&nbsp;</strong><br></label>
                                                    <div class="form-group"><input type="text" id="celular_emergencia_medica-1" class="celular_emergencia_medica"></div>
                                                </div>
                                                <div class="col-3"><label for="first_name"><strong>Parentesco</strong><br></label>
                                                    <div class="form-group"><input type="text" id="parentesco_emergencia_medica-1" class="parentesco_emergencia_medica"></div>
                                                </div>
                                            </div>
                                            <div class="table-responsive text-left table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th><strong>Enfermedad, lesión o padecimiento</strong></th>
                                                            <th><strong>Check</strong></th>
                                                            <th><strong>Observaciones</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Tabaquismo</td>
                                                            <td><input type="checkbox" id="check_tabaco_info_medica-1" class="check_tabaco_info_medica"></td>
                                                            <td><input type="text" id="text_tabaco_info_medica-1" class="text_tabaco_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left">Alcoholismo</td>
                                                            <td><input type="checkbox" id="check_alcohol_info_medica-1" class="check_alcohol_info_medica"></td>
                                                            <td><input type="text" id="text_alcohol_info_medica-1" class="text_alcohol_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left">Sobrepeso u Obesidad</td>
                                                            <td><input type="checkbox" id="check_obesidad_info_medica-1" class="check_obesidad_info_medica"></td>
                                                            <td><input type="text" id="text_obesidad_info_medica-1" class="text_obesidad_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sedentarismo</td>
                                                            <td><input type="checkbox" id="check_sedentarismo_info_medica-1" class="check_sedentarismo_info_medica"></td>
                                                            <td><input type="text" id="text_sedentarismo_info_medica-1" class="text_sedentarismo_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enfermedades del corazón</td>
                                                            <td><input type="checkbox" id="check_enfermedades_corazon_info_medica-1" class="check_enfermedades_corazon_info_medica"></td>
                                                            <td><input type="text" id="text_enfermedades_corazon_info_medica-1" class="text_enfermedades_corazon_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Lesiones articulares</td>
                                                            <td><input type="checkbox" id="check_lesiones_articulares_info_medica-1" class="check_lesiones_articulares_info_medica"></td>
                                                            <td><input type="text" id="text_lesiones_articulares_info_medica-1" class="text_lesiones_articulares_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dislipidemia<br></td>
                                                            <td><input type="checkbox" id="check_dislipidemia_info_medica-1" class="check_dislipidemia_info_medica"></td>
                                                            <td><input type="text" id="text_dislipidemia_info_medica-1" class="text_dislipidemia_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Epilepsia o convulsiones</td>
                                                            <td><input type="checkbox" id="check_convulciones_info_medica-1" class="check_convulciones_info_medica"></td>
                                                            <td><input type="text" id="text_convulciones_info_medica-1" class="text_convulciones_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fracturas</td>
                                                            <td><input type="checkbox" id="check_fracturas_info_medica-1" class="check_fracturas_info_medica"></td>
                                                            <td><input type="text" id="text_fracturas_info_medica-1" class="text_fracturas_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cirugías</td>
                                                            <td><input type="checkbox" id="check_cirujias_info_medica-1" class="check_cirujias_info_medica"></td>
                                                            <td><input type="text" id="text_cirujias_info_medica-1" class="text_cirujias_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Hernias</td>
                                                            <td><input type="checkbox" id="check_hernias_info_medica-1" class="check_hernias_info_medica"></td>
                                                            <td><input type="text" id="text_hernias_info_medica-1" class="text_hernias_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Asma, sinusitis o bronquitis</td>
                                                            <td><input type="checkbox" id="check_asma_info_medica-1" class="check_asma_info_medica"></td>
                                                            <td><input type="text" id="text_asma_info_medica-1" class="text_asma_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enfermedades nerviosas</td>
                                                            <td><input type="checkbox" id="check_nerviosas_info_medica-1" class="check_nerviosas_info_medica"></td>
                                                            <td><input type="text" id="text_nerviosas_info_medica-1" class="text_nerviosas_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enfermedades metabólicas</td>
                                                            <td><input type="checkbox" id="check_metabolicas_info_medica-1" class="check_metabolicas_info_medica"></td>
                                                            <td><input type="text" id="text_metabolicas_info_medica-1" class="text_metabolicas_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Embarazo<br></td>
                                                            <td><input type="checkbox" id="check_embarazo_info_medica-1" class="check_embarazo_info_medica"></td>
                                                            <td><input type="text" id="text_embarazo_info_medica-1" class="text_embarazo_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>¿Toma algún medicamento?</td>
                                                            <td><input type="checkbox" id="check_medicamento_info_medica-1" class="check_medicamento_info_medica"></td>
                                                            <td><input type="text" id="text_medicamento_info_medica-1" class="text_medicamento_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>¿Posee alguna alergia?</td>
                                                            <td><input type="checkbox" id="check_alergia_info_medica-1" class="check_alergia_info_medica"></td>
                                                            <td><input type="text" id="text_alergia_info_medica-1" class="text_alergia_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>¿Posee alguna fobia?</td>
                                                            <td><input type="checkbox" id="check_fobia_info_medica-1" class="check_fobia_info_medica"></td>
                                                            <td><input type="text" id="text_fobia_info_medica-1" class="text_fobia_info_medica" style="border-style: none;width: 174px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Otro</td>
                                                            <td><input type="checkbox" id="check_otro_info_medica-1" class="check_otro_info_medica"></td>
                                                            <td class="text-justify"><input type="text" id="text_otro_info_medica-1" class="text_otro_info_medica" style="border-style: none;"></td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><strong>Enfermedad, lesión o padecimiento</strong></td>
                                                            <td><strong>Check</strong></td>
                                                            <td><strong>Observaciones</strong></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="text-center">
                                        <div class="form-group text-center"><button class="btn btn-danger btn-sm btn_guardar_perfil" type="submit">Guardar</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    

  </div>
 

  <!--Archivos de logica JavaScript van de ultimo-->
  <script src="../js/ejemplo/default.js"></script>
</body>
</html>