$primary:#364C78;
$secondary:#B81616;
$light:#F0F2F5;
$gray:#4E5560;
$gray-dark:#27323A;
$green:#28a745;

body{
    font-family: 'Lato' !important;
}

$enable-shadows:true;
$enable-responsive-font-sizes:true;