// $primary:#364C78";
// "$secondary:#B81616;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#28a745;
// $info:#4c84ff;

$modal-fade-transform: scaleY(.01) scaleX(0);
.modal-dialog{
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal-backdrop {
    .modal {
      transform:scale(0);
      animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
}
@keyframes zoomIn {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }
@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
}

$theme-colors: (
    "primary":#364C78,
    "dark-primary":#25375a,
    "secondary":#B81616,
    "light":#F0F2F5,
    "gray":#4E5560,
    "dark":#27323A,
    "green":#28a745,
    "info":#4c84ff
);
// $primary:#45b4ff;
// $secondary:#f77457;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#1b242f;
// $info:#45b4ff;

// $primary:#ea7124;
// $secondary:#67c7e7;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#1b242f;
// $info:#45b4ff;

body{
    font-family: 'Lato' !important;
}

$enable-shadows:true;
$enable-responsive-font-sizes:true;