// $primary:#364C78";
// "$secondary:#B81616;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#28a745;
// $info:#4c84ff;


$theme-colors: (
    "primary":#364C78,
    "dark-primary":#25375a,
    "secondary":#B81616,
    "light":#F0F2F5,
    "gray":#4E5560,
    "dark":#27323A,
    "green":#28a745,
    "info":#4c84ff
);
// $primary:#45b4ff;
// $secondary:#f77457;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#1b242f;
// $info:#45b4ff;

// $primary:#ea7124;
// $secondary:#67c7e7;
// $light:#F0F2F5;
// $gray:#4E5560;
// $dark:#27323A;
// $green:#1b242f;
// $info:#45b4ff;

body{
    font-family: 'Lato' !important;
}

$enable-shadows:true;
$enable-responsive-font-sizes:true;