.nav-link{
    color: white !important;
}
.bg-green{
    background-color: #28a745;
}
.bg-rojo{
    background-color: #dc3545;
}
.text-green{
    color: #28a745;
}
.text-rojo{
    color: #dc3545;
}
.nombre-usuario-pos-0{
    position: relative;
    top: -8px;
}
.w-90{
    width: 90% !important;
}
.text-celeste{
    color:cornflowerblue !important;
}
.bg-celeste{
    background-color: cornflowerblue !important;
}
.border-celeste{
    border:3px solid cornflowerblue !important;
}
.border-secondary{
    border: 3px solid #B81616 !important;
}
.menu-active {
    border-right: 8px #fff solid !important;
    color: #fff;
    font-size: 16px;
}

.tab-dashboard-pane{
    width: 100%;
    max-width: 200px;
    
}
.nav-pills .nav-item a.nav-link {
    background-color: #B81616;
}
.nav-pills .nav-link.active  {
    color: #fff !important;
    background-color: #364C78 !important;
}
.vline {
    border-right: 1px dashed #838383;
}