#wrapper {
  overflow-x: hidden; }

#menu-header {
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 100; }

.sidebar-heading {
  height: 40px; }

#sidebar-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  margin-left: -13rem;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }

#sidebar-wrapper .list-group {
  transition: all .25s;
  width: 13rem; }

#wrapper.toggled #sidebar-wrapper {
  position: sticky !important;
  top: 0;
  left: 0;
  height: 100vh;
  margin-left: 0;
  transition: all .25s; }

#page-content-wrapper {
  min-width: 100vw;
  position: relative; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky;
    margin-left: 0;
    transition: all .25s; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    position: relative !important;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: -13rem;
    transition: all .25s; } }

.menu-items-var {
  background-color: #263655; }
  .menu-items-var:hover {
    background-color: #364C78; }
  .menu-items-var:focus {
    background-color: #364C78 !important; }

.hover-menu-items-parent {
  background-color: #263655; }

.photo_side_panel {
  background: url(../img/UNA-VVE-logo-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  height: 130px; }

.photo_side_panel_front {
  background-color: rgba(54, 76, 120, 0.8);
  height: 100%; }

.toast {
  width: 300px;
  max-width: 300px; }

@media (min-width: 768px) {
  .nav-link.col-md-3 {
    flex: 0 0 24% !important;
    max-width: 25% !important; } }

#menu-toggle {
  outline: none !important;
  box-shadow: none !important; }

.breadcrumb {
  padding: 0.3rem 1rem !important; }

.nav-card {
  justify-content: space-between !important;
  border-bottom: 0 !important; }

.nav-card-item {
  height: 125px;
  padding: 1rem 0 !important;
  margin-bottom: 0.5rem !important;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 20px !important;
  background-color: #fff !important;
  transition: all 1s; }

.nav-tabs .nav-link.active {
  border: none !important;
  padding: 1.5rem 0rem !important;
  height: 140px;
  transition: all .5s; }

.nav-item-in {
  height: 80px;
  display: flex !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  justify-content: space-around !important; }

.talleres-ic {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 50px; }

.talleres-uc {
  background-color: #e4f7e4;
  padding: 1rem;
  border-radius: 50px; }

.talleres-mc {
  background-color: beige;
  padding: 1rem 0.9rem 1rem 1.2rem;
  border-radius: 50px; }

.talleres-rc {
  background-color: lightpink;
  padding: 1rem;
  border-radius: 50px; }

.cards-dash {
  border-radius: 20px !important;
  padding: 1rem !important;
  margin-top: 0.5rem !important;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075) !important;
  background-color: #fff !important; }

.form-control:focus {
  background-color: white !important; }

.btn {
  outline: none !important;
  box-shadow: none !important; }

.close {
  outline: none !important;
  box-shadow: none !important;
  margin-right: 3px !important; }

.modal-backdrop.show {
  opacity: 0.4 !important; }

.dropdown-menu-customize {
  background-color: white;
  width: 100%;
  height: 100px;
  border-radius: 15px; }

.container-custom {
  display: none;
  width: 330px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100vh - 40px);
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075) !important; }

#imgFilter {
  background-image: url("../img/icons8-clear-filters-240.png");
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin: 0 auto; }

.modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075) !important;
  border: none !important; }

.modal-header {
  padding: 0.25rem !important;
  z-index: 99999999; }

.input-container-date input {
  position: relative;
  margin: 0;
  display: inline-block; }

.input-container {
  position: relative;
  margin: 20px 0; }

.input-container small {
  position: absolute;
  top: -5px;
  left: 0px;
  color: black;
  transition: all 0.3s; }

.input-container i {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.3s; }

.input-container input {
  border: 0;
  border-bottom: 2px solid #364C78;
  border-radius: 2px;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black; }

.input-container input:focus {
  outline: none; }

.input-container input:focus ~ small,
.input-container input:valid ~ small {
  top: -12px;
  font-size: 12px; }
