.nav-link {
  color: white !important; }

.bg-green {
  background-color: #28a745; }

.bg-rojo {
  background-color: #dc3545; }

.text-green {
  color: #28a745; }

.text-rojo {
  color: #dc3545; }

.nombre-usuario-pos-0 {
  position: relative;
  top: -8px; }

.w-90 {
  width: 90% !important; }

.text-celeste {
  color: cornflowerblue !important; }

.bg-celeste {
  background-color: cornflowerblue !important; }

.border-celeste {
  border: 3px solid cornflowerblue !important; }

.border-secondary {
  border: 3px solid #B81616 !important; }

.menu-active {
  border-right: 8px #fff solid !important;
  color: #fff;
  font-size: 16px; }

.tab-dashboard-pane {
  width: 100%;
  max-width: 200px; }

.nav-pills .nav-item a.nav-link {
  background-color: #B81616; }

.nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #364C78 !important; }

.vline {
  border-right: 1px dashed #838383; }

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); }

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
