.nav-link {
  color: white !important; }

.bg-green {
  background-color: #28a745; }

.bg-rojo {
  background-color: #dc3545; }

.bg-secondary-alt {
  background-color: #8a1111 !important; }

.text-green {
  color: #28a745; }

.text-rojo {
  color: #dc3545; }

.nombre-usuario-pos-0 {
  position: relative;
  top: -8px; }

.w-90 {
  width: 90% !important; }

.text-celeste {
  color: cornflowerblue !important; }

.bg-celeste {
  background-color: cornflowerblue !important; }

.border-celeste {
  border: 3px solid cornflowerblue !important; }

.border-secondary {
  border: 3px solid #B81616 !important; }

.menu-active {
  border-right: 8px #fff solid !important;
  color: #fff;
  font-size: 16px; }

.tab-dashboard-pane {
  width: 100%;
  max-width: 200px; }

.nav-pills .nav-item a.nav-link {
  background-color: #B81616; }

.nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #364C78 !important; }

.vline {
  border-right: 1px dashed #838383; }

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); }

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

td, th {
  font-size: 0.8rem; }

td {
  padding: 0.5rem !important; }

button {
  outline: none !important;
  box-shadow: none !important; }

.breadcrumb {
  padding: 0.2rem 1rem !important; }

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-pic:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fafafa;
    transition: all .3s ease; }
  .profile-pic span {
    display: inline-flex;
    padding: .2em; }

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto; }

.hv-90 {
  height: 90vh !important; }

.blurObject {
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: 2; }

.nav-clases .nav-link {
  color: #364C78 !important; }

.nav-link-casilleros {
  background-color: #F0F2F5;
  color: #27323A;
  padding: 0.5rem 1rem;
  height: 40px;
  vertical-align: middle !important;
  text-decoration: none !important;
  border-radius: 4px; }
  .nav-link-casilleros:hover {
    background-color: white; }

.nav-link-casilleros.active {
  background-color: white;
  border-bottom: none !important; }

.card-list-custom {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 3px solid #B81616;
  border-radius: 0.25rem !important;
  margin-top: 4px;
  cursor: pointer; }
  .card-list-custom:hover {
    background-color: #F0F2F5 !important; }

.card-list-custom-2 {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 3px solid #28a745;
  border-radius: 0.25rem !important;
  margin-top: 4px;
  cursor: pointer; }
  .card-list-custom-2:hover {
    background-color: #F0F2F5 !important; }

#anotacionEstudiante.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none; }

.text-message-a {
  width: 100%; }

@media (min-width: 768px) {
  .text-message-a {
    width: 50% !important; } }

input {
  box-shadow: none !important; }

select {
  box-shadow: none !important; }

.input-group-prepend {
  border: none !important; }

.custom-file-label {
  box-shadow: none !important; }

.rounded-xl {
  border-radius: 0px; }

.footer-c {
  position: static;
  width: 100%;
  bottom: 0; }

@media (min-width: 576px) {
  .rounded-xl {
    border-radius: 20px !important; } }

#loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #4c84ff;
  z-index: 999999;
  padding-top: 20%; }

.casilleroFormat {
  color: white;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  width: 98%;
  margin: 0 auto;
  height: 100px;
  border-bottom: white 10px solid !important; }

.casilleroFormat.ocupado {
  background: #f53838;
  border: #B81616 4px solid; }

.casilleroFormat.libre {
  background: #0fbb0f;
  border: #28a745 4px solid; }

.casilleroFormat.warningFind {
  background: #ffc107 !important;
  border: #ebb000 4px solid; }

.casilleroFormat.libre.agregar {
  background: #0fbb0f;
  border: #28a745 4px solid;
  width: 200px;
  height: 135px; }

.formgroup-casillero {
  background-color: #48d148;
  color: white;
  border-bottom: 1px white solid;
  border-radius: 2px; }

.ya-existe {
  box-shadow: 0 0 0 2px #ff4a4a !important;
  transition: all 0.2s;
  border: none !important; }

.input-casillero {
  color: white !important;
  width: 75%;
  border: none !important;
  box-shadow: none;
  outline: none !important;
  background-color: #48d148;
  padding: 0 !important; }
  .input-casillero:focus {
    background-color: #48d148 !important; }

.input-casillero::placeholder {
  color: white; }

.btn-casillero-agregar {
  border-radius: 0 !important;
  width: 100%; }

#tablaBusquedaModal .table {
  border: none !important; }

#tablaBusquedaModal table td {
  border: none;
  border-bottom: 1px solid #1c1c1c; }

.dropdownNotificaciones {
  position: absolute;
  top: 40px;
  right: -15px;
  background-color: white;
  width: 230px;
  border-radius: 5px;
  border: 1px #F0F2F5 solid;
  min-height: 300px;
  display: none; }

.pro-nav-link:hover {
  background-color: #25375a; }
