.patito {
  background-color: #364C78; }
  .patito:hover {
    background-color: #df1111; }

.perrito {
  color: #364C78; }

.gatito {
  color: #df1111; }

.nav-link {
  color: white !important; }

.bg-green {
  background-color: #28a745; }

.bg-rojo {
  background-color: #dc3545; }

.text-green {
  color: #28a745; }

.text-rojo {
  color: #dc3545; }
