div.avatar-bg {
  background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-left: calc(50% - 100px); }

.card-cursos-header {
  color: #fff !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  justify-content: space-between !important;
  display: flex !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background-color: #364C78 !important; }

.card-cursos-body {
  padding-left: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
  border-left: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  justify-content: space-between !important;
  display: flex !important; }

.card-cursos-footer {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: flex !important;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border: 1px solid #dee2e6 !important;
  border-top: 0 !important; }
