<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-white border-bottom">
    <a class="navbar-brand p-0 mx-auto" href="/client/home">
        <!-- <img src="../../../img/logo-vive-promocion-transparency.png" style="width:2em;filter: brightness(0) invert(1);" class="d-inline-block align-middle" alt="" loading="lazy"> -->
        <span class="text-white">SIAPD</span>
    </a>
</nav>