<footer class="footer mt-auto py-3 text-center bg-dark">
    <p class="mb-1 text-white">© 2020-2021 Universidad Nacional de Costa Rica</p>
    <ul class="list-inline">
        <li class="list-inline-item "><a class="text-white" href="#">Privacy</a></li>
        <li class="list-inline-item "><a class="text-white" href="#">Terms</a></li>
        <li class="list-inline-item "><a class="text-white" href="#">Support</a></li>
    </ul>
    <img src="../../img/logo-universidad-gray-transparency.png" style="filter: brightness(0) invert(1);">
</footer>