<nav id= "header" class="navbar navbar-light navbar-expand-md bg-white" style="background: #b81616;">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="height: 70px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1" style="background: #b81616;font-family: Lato;">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(255,255,255);">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="#" style="color: rgb(255,255,255);">Servicios&nbsp;</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(255,255,255);">Horarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">Matricula</a></li>
            </ul>
    </div>
</div>
</nav>