<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="es" class="h-100">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard | Reportes - Conducta</title>
     <link rel="stylesheet" href="../../../css/bootstrap.css">
     <link rel="stylesheet" href="../../../css/general.css">
     <link rel="stylesheet" href="../../../css/datatables.min.css">
     <link rel="stylesheet" href="../../../css/dashboard.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
     <link rel="stylesheet" href="../../../css/animate.css">
     <script src="../../../js/jq-bs-bundle.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="agregarModal" tabindex="-1" data-backdrop="static" data-keyboard="false" 
    aria-labelledby="agregarModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title pl-2">Estudiante</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="container">
                        <div class="form-group">
                            <label for="estudianteModal">Estudiante</label>
                            <select id="estudianteModal" class="form-control" name="estudianteModal">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipoModal">Tipo</label>
                            <select id="tipoModal" class="form-control" name="tipoModal">
                                <option value="Eventualidad">Eventualidad</option>
                                <option value="Inadecuada">Inadecuada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notamodal">Nota</label>
                            <textarea class="form-control" id="notamodal" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0 pb-2">
                    <button type="button" class="btn btn-primary" onclick="agregarNota()">Agregar</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="modal fade" id="verConductaModal" tabindex="-1" data-backdrop="static" data-keyboard="false" 
    aria-labelledby="verConductaModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h6 class="modal-title text-white pl-2">Estudiante</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <span class="sr-only" id="idEstudiante"></span>
                    <span class="sr-only" id="cedulaEstudiante"></span>
                    <div class="container">
                        <div class="row mx-0 w-100 border-bottom mb-2 pb-2">
                            <div class="w-100">
                                <h4 class="d-block">Nota:</h4>
                            </div>
                            <cite id="conductaTextModal">
        
                            </cite>
                        </div>
                        <div class="row mx-0 w-100">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="estadoModalactualizar">Estado</label>
                                    <div class="input-group ">
                                        <div class="input-group-append flex-grow-1">
                                            <select id="estadoModalactualizar" class="form-control rounded-0" name="estadoModalactualizar">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm py-1" onclick="cambiarEstadoEstudiante()"><i class="far fa-save"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="strikesModalactualizar">Strikes</label>
                                    <div class="input-group ">
                                        <div class="input-group-append flex-grow-1">
                                            <select id="strikesModalactualizar" class="form-control rounded-0" name="strikesModalactualizar">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm py-1" ><i class="far fa-save"></i></button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0 pb-2">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>        
    </div>
     <div class="d-flex" id="wrapper">
         <%- include('../menuDashboard') %>
         <div id="page-content-wrapper">
             <%- include('../headerDashboard') %>
             <%- include('../filterEstudianteDashboard') %>
             
             <nav aria-label="breadcrumb ">
                 <ol class="breadcrumb ">
                     <li class="breadcrumb-item"><a href="#">Reportes</a></li>
                     <li class="breadcrumb-item"><a href="#">Conducta</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Lista de Conductas Inadecuadas</li>
                 </ol>
             </nav>
             <div class="container-fluid">
                 <div class="card border-0 shadow-sm my-3"> 
                     <div class="card-body py-2">
                         <div class="row">
                             <div class="col-md-6 ">
                                 <h2 class="font-weight-bolder">Lista de Conductas Inadecuadas</h2>
                                 <small class="text-muted">En esta seccion se muestra la lista de los estudiantes que se presentan <br>
                                    conductas <span class="badge badge-danger" style="font-size: 13px;">inadecuadas</span> o <span class="badge badge-warning" style="font-size: 13px;">eventualidades</span></small><br>
                                 <small>Informacion Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                             </div>
                             <div class="col border-right">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate__delay-2s" id="inadecuadas_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Estudiantes que presentan conductas inadecuadas">Conductas Inadecuadas &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                             <div class="col border-right">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate__delay-2s" id="eventualidades_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Estudiantes que presentan alguna eventualidad">Eventualidades &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                             <div class="col">
                                 <h1 class="m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate__delay-2s" id="reportes_stats">0</h1>
                                 <small class="text-muted" data-toggle="tooltip" data-placement="bottom" 
                                 title="Estudiantes que presentan algun reporte de conducta">Estudiantes  &nbsp; <i class="fas fa-align-center text-info"></i></small>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="card border-0 shadow">
                     <div class="card-body px-2 py-2">
                         <div class="row bg-light mx-auto rounded-lg justify-content-between py-1 mb-1">
                             <div class="col-md-6 pl-1 pr-0">
                                 <div class="input-group flex-nowrap">
                                     <div class="input-group-prepend">
                                         <button class="btn bg-white" type="button" id="button_search"><i class="fas fa-search"></i></button>
                                     </div>
                                     <input type="search" class="form-control border-0 shadow-none bg-white" 
                                     onkeyup="searchonfind()" placeholder="Buscar..." aria-label="Username" id="barraBuscar">
                                 </div>
                                 
                             </div>
                             <div class="col-md-6 d-flex justify-content-around px-0">
                                 <div class="row no-gutters px-0 w-100 d-flex justify-content-between">
                                     <div class="col-5 d-flex align-items-center">
                                         <div id="showlenghtentries" class="d-flex align-items-center m-0"></div>
                                     </div>
                                     <div class="col-7 d-flex align-items-center justify-content-end pr-2" style="max-height: 40px">
                                        <button type="button" name="agregarTaller" id="modalButtonAgregarEstudiante"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Agregar un Conducta" onclick="openmodal('#agregarModal')" class="btn bg-success btn-sm text-white mr-2"
                                            style="border-radius: 50px;"><i class="fas fa-plus"></i>
                                        </button>
                                         <a href="/admin/reportes/conducta" type="button" name="actualizar_lista" id="actualizar_lista" 
                                         data-toggle="tooltip" data-placement="top" title="Actualizar lista"
                                         class="btn bg-white btn-sm" style="border-radius: 50px;"><i class="fas fa-sync-alt"></i></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="row w-100 mx-0" style="height: 75vh; overflow-y: auto;">
                             <table class="table custom-table table-responsive-md table-borderless" id="conductas_Table">
                                 <thead>
                                     <tr>
                                         <th class="bg-dark text-white sticky-top " style="width: 50px;" scope="col">&nbsp;</th> <!--Aqui va la foto-->
                                         <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-address-card"></i> Cedula</th>
                                         <th class="bg-dark text-white sticky-top" data-class-name="priority" scope="col"><i class="fas fa-id-card"></i> Nombre</th>
                                         <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-money"></i> Conducta</th>
                                         <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-calendar"></i> Estado</th>
                                         <th class="bg-dark text-white sticky-top" scope="col">&nbsp;</th> <!--Aqui va el edit-->
                                     </tr>
                                     </thead>
                                     <tbody id="lista_conductas">
             
                                     </tbody>
                             </table>
                             <div class="d-flex align-items-center align-self-end border-info w-100">
                                 <div class="row w-100 ml-0">
                                     <div class="col-md-6 d-flex justify-content-start text-muted pl-0" >
                                         <small id="informacionTable" class="d-flex align-items-end"></small>
                                     </div>
                                     <div class="col-md-6 d-flex justify-content-end" id="botonesCambiarTable">
 
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <%- include('../footerDashboard') %>
         </div>
             
         </div>
     </div>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
     <script src="../../../js/admin/reporte.conducta.js"></script>
 </body>
 </html>