<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand p-0" href="#">
        <img src="../../../img/logo-vive-promocion-transparency.png" style="width:3em" class="d-inline-block align-middle" alt="" loading="lazy">
        <span class="text-white">SIAPD</span>
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="menuDropdown">
        <ul class="navbar-nav">
            <li class="nav-item ml-3 active">
                <a class="nav-link text-center" href="/client/home">
                    <%if(selected == "home"){%>
                        <u>Inicio</u>
                    <%} else{ %>
                        Inicio
                    <%}%>
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link text-center" href="/client/clases">
                    <%if(selected == "clases"){%>
                        <u>Clases</u>
                    <%} else{ %>
                        Clases
                    <%}%>
                </a>
            </li>
            <li class="nav-item ml-3 active">
                <a class="nav-link text-center" href="/client/matricula">
                    <%if(selected == "matricula"){%>
                        <u>Matricula</u>
                    <%} else{ %>
                        Matricula
                    <%}%>
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link text-center" href="/client/informacionMedica">
                    <%if(selected == "informacionMedica"){%>
                        <u>Informacion Medica</u>
                    <%} else{ %>
                        Informacion Medica
                    <%}%>
                </a>
            </li>
            <li class="nav-item ml-3 dropdown">
                <a class="nav-link text-center text-uppercase" href="/client/perfil">
                    <i class="fa fa-user-circle"></i>
                    <%if(selected == "perfil"){%>
                        <u><%= usuario.usuario %></u>
                    <%} else{ %>
                        <%= usuario.usuario %>
                    <%}%>
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link text-center" href="/client/logout">
                    <i class="fas fa-power-off"></i>&nbsp; Salir
                </a>
            </li>
        </ul>
    </div>
</nav>