<footer class="footer mt-auto py-3 text-center">
    <div class="container mb-5">
        <div class="row justify-content-around">
            <div class="col-md-3 mb-3 position-relative">
                <i class="fa fa-phone" style="font-size: 40px; color:green;"></i> &nbsp;
                <a href="tel:22773784" class="card-link text-dark stretched-link">2277-3784</a>
            </div>
            <div class="col-md-3 mb-3 position-relative">
                <i class="fas fa-envelope text-secondary" style="font-size: 40px;"></i> &nbsp;
                <a href="mailto:piscinadpe@una.cr" class="card-link text-dark stretched-link text-secondary">piscinadpe@una.cr</a>
            </div>
            <div class="col-md-3 mb-3 position-relative">
                <i class="fab fa-facebook-square" style="font-size: 40px; color: #4267b2;"></i> &nbsp;
                <a href="https://www.facebook.com/PiscinaUNA/" class="card-link text-dark stretched-link">/PiscinaUNA</a>
            </div>
        </div>
    </div>
    <p class="mb-1">© 2020-2021 Universidad Nacional de Costa Rica</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    <img src="../../img/logo-universidad-gray-transparency.png" alt="" srcset="">
</footer>