<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <title>Repocisión de clases</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/animate.css">
    <script src="../js/jq-bs-bundle.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body>   

    
    <%- include('perfilHeader') %>


        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <div class="container-fluid">
                        <h3 class="text-dark mb-4" style="margin-top: 13px;">Reposición de clases</h3>
                        <div class="card shadow" style="margin: -16px;margin-top: -9px;">
                            <div class="card-header py-3">
                                <p class="text-dark m-0 font-weight-bold">Seleccione la clase perdida y su respectiva reposición</p>
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-md-6 d-block float-left">
                                        <p class="text-dark m-0 font-weight-bold">Clases perdidas</p>
                                        <div class="table-responsive text-center border rounded border-danger table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                            <table class="table table-striped my-0">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Código</th>
                                                        <th>Fecha de la clase perdida</th>
                                                        <th>Tiempo restante para justificar</th>
                                                        <th>Ausencias del curso</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tablaClasesPerdidas">
                                                    <tr>
                                                        <td><input type="radio" name ="radio_clase_perdida "/></td>
                                                        <td>NAT001</td>
                                                        <td>2009/10/09 11:00<br /></td>
                                                        <td>7 días</td>
                                                        <td>2</td>
                                                    </tr>

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>NRC</strong></td>
                                                        <td><strong>Fecha de la clase perdida</strong></td>
                                                        <td><strong>Tiempo restante para justificar</strong></td>
                                                        <td><strong>Ausencias del curso</strong></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-dark m-0 font-weight-bold">Clases disponibles</p>
                                        <div class="table-responsive text-center border rounded border-success table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                            <table class="table table-striped my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>NRC</th>
                                                        <th>Fecha de la clase de reposición</th>
                                                        <th>Cupos disponibles</th>
                                                        <th>Profesor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="radio" /></td>
                                                        <td>NAT001</td>
                                                        <td>2009/10/09 11:00<br /></td>
                                                        <td>2</td>
                                                        <td>Marlon</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" /></td>
                                                        <td>NAT001</td>
                                                        <td>2009/10/09 11:00<br /></td>
                                                        <td>2</td>
                                                        <td>Marlon</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" /></td>
                                                        <td>NAT001</td>
                                                        <td>2009/10/09 11:00<br /></td>
                                                        <td>2</td>
                                                        <td>Marlon</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" /></td>
                                                        <td>NAT001</td>
                                                        <td>2009/10/09 11:00<br /></td>
                                                        <td>2</td>
                                                        <td>Marlon</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><strong></strong></td>
                                                        <td><strong>NRC</strong></td>
                                                        <td><strong>Fecha de la clase de reposición</strong></td>
                                                        <td><strong>Cupos disponibles</strong></td>
                                                        <td><strong>Profesor</strong></td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding: 11px;">
                                    <div class="col"><input type="text" style="margin-top: 5px;margin-bottom: 5px;" /></div>
                                    <div class="col text-left"><button class="btn btn-primary" type="button">Adjuntar comprobante</button></div>
                                </div>
                                <div class="row">
                                    <div class="col" style="padding: 17px;"><button class="btn btn-primary" type="button">Confirmar</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>




    <%- include('perfilFooter') %>
    <script src="../../../js/client/perfil/matricula.js"></script>
</body>
</html>